xsd-t2/SDM/ssp.sdm.ReturnAS.camt.998.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.998.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.998.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AS">
		<xs:sequence>
			<xs:element name="RecStsInf" type="RecordStatusInfo">
				<xs:annotation>
					<xs:documentation>record status information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASInf" type="ASInfo">
				<xs:annotation>
					<xs:documentation>ancillary system information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASInfo">
		<xs:sequence>
			<xs:element name="ASNm" type="Name">
				<xs:annotation>
					<xs:documentation>ancillary system name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASBIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC ancillary system</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DNasi" type="Max100Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>distinguished name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PckdFileAsi" type="Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>packed file delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AsiSvc" type="Max30Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SWIFTNet service</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode">
				<xs:annotation>
					<xs:documentation>country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASTp" type="ASType">
				<xs:annotation>
					<xs:documentation>ancillary system type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASXclsn" type="Flag">
				<xs:annotation>
					<xs:documentation>exclusion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtLine" type="Flag">
				<xs:annotation>
					<xs:documentation>credit line</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmMdl" type="SttlmtModel" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>settlement model</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessReport">
		<xs:sequence>
			<xs:element name="AS" type="AS" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ancillary system</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="PrtryMsg" type="ProprietaryMessage">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorCode">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>XML error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling">
		<xs:sequence>
			<xs:element name="Err" type="ErrorCode">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>always "ReturnAS"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="ProprietaryData3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData3">
		<xs:sequence>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryMessage">
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader1"/>
			<xs:element name="Rltd" type="MessageReference">
				<xs:annotation>
					<xs:documentation>related reference - message identification of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryData" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordStatusInfo">
		<xs:sequence>
			<xs:element name="PlnndChng" type="Change">
				<xs:annotation>
					<xs:documentation>planned change</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecSts" type="RecordStatus">
				<xs:annotation>
					<xs:documentation>record status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrstDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>first activation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>modification date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>end date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnAS">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BizRpt" type="BusinessReport">
					<xs:annotation>
						<xs:documentation>business report</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling">
					<xs:annotation>
						<xs:documentation>technical error report</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="ReturnAS" type="ReturnAS">
				<xs:annotation>
					<xs:documentation>message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SttlmtModel">
		<xs:sequence>
			<xs:element name="SttlmMdlNb" type="Max2AlphaNumericText">
				<xs:annotation>
					<xs:documentation>settlement model number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASAcctTp" type="ASAcctType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ancillary system account type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASAcctBIC" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ancillary system account BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrntyAcctBIC" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>guarantee account BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoClltrlBIC" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>auto-collateral account BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASMdl3Not" type="ASNotificationType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>model 3 notification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASMdl6LTNot" type="Flag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>model 6 liquidity transfer notification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ASAcctType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASM">
				<xs:annotation>
					<xs:documentation>AS mirror account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AST">
				<xs:annotation>
					<xs:documentation>AS technical account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T2S">
				<xs:annotation>
					<xs:documentation>T2S transit account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ASNotificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>global notification</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>single notification</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ASType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTL">
				<xs:annotation>
					<xs:documentation>retail payment system</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LVP">
				<xs:annotation>
					<xs:documentation>large value payment systems</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEX">
				<xs:annotation>
					<xs:documentation>foreign exchange system</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MMK">
				<xs:annotation>
					<xs:documentation>money market systems</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CCP">
				<xs:annotation>
					<xs:documentation>clearing house</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SSG">
				<xs:annotation>
					<xs:documentation>securities settlement systems - integrated model</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SSF">
				<xs:annotation>
					<xs:documentation>securities settlement systems - interfaced</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T2S">
				<xs:annotation>
					<xs:documentation>TARGET2Securities</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MPO">
				<xs:annotation>
					<xs:documentation>monetary policy operations</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ALL">
				<xs:annotation>
					<xs:documentation>all</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Change">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>none</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>modification</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Flag">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max100Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max30Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FU">
				<xs:annotation>
					<xs:documentation>future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>archived</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation>archived future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DV">
				<xs:annotation>
					<xs:documentation>delivery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>in deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IC">
				<xs:annotation>
					<xs:documentation>in change</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortingCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
