xsd-t2/SDM/ssp.sdm.ModifyRTGSAccount.camt.998.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.998.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.998.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountInfo">
		<xs:sequence>
			<xs:element name="UpdtFlag" type="UpdateFlag">
				<xs:annotation>
					<xs:documentation>update flag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RTGSAcctNb" type="Code">
				<xs:annotation>
					<xs:documentation>RTGS account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RTGSAcctTp" type="AccType">
				<xs:annotation>
					<xs:documentation>RTGS account type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccptAdvc" type="Flag">
				<xs:annotation>
					<xs:documentation>accept MT900/910</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BalRpt" type="BalanceReport">
				<xs:annotation>
					<xs:documentation>balance report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtsBsd" type="Flag">
				<xs:annotation>
					<xs:documentation>credit based only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxAmtDay" type="ImpliedCurrencyAndAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>max amount per day for direct debit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BICLqdtyRmvlDayLght" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>receiver BIC for liquidity removal daylight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctLqdtyRmvlDayLght" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account for liquidity removal daylight</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BICLqdtyRmvlEoD" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>receiver BIC for liquidity removal end of day</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctLqdtyRmvlEoD" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account for liquidity removal end of day</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VrtlAcct" type="VirtualAccount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>virtual group of account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CnsldtdInf" type="ConsolidatedInfo" minOccurs="0">
				<xs:annotation>
					<xs:documentation>virtual group of account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>activation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtgncyAcctNb" type="Code">
				<xs:annotation>
					<xs:documentation>contingency module account number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsolidatedInfo">
		<xs:sequence>
			<xs:element name="GOAId" type="Max12Text">
				<xs:annotation>
					<xs:documentation>group of account identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="PrtryMsg" type="ProprietaryMessage">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RTGSAccount">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode">
				<xs:annotation>
					<xs:documentation>country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC participant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecSts" type="RecordStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>record status - used when UpdtFlag = "U"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctInf" type="AccountInfo">
				<xs:annotation>
					<xs:documentation>account information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ModifyRTGSAccount">
		<xs:sequence>
			<xs:element name="RTGSAcct" type="RTGSAccount">
				<xs:annotation>
					<xs:documentation>RTGS account</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>always "ModifyRTGSAccount"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryMessage">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageReference">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryData" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="ModifyRTGSAccount" type="ModifyRTGSAccount">
				<xs:annotation>
					<xs:documentation>message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VirtualAccount">
		<xs:sequence>
			<xs:element name="GOAId" type="Max12Text">
				<xs:annotation>
					<xs:documentation>group of account identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AccType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CI">
				<xs:annotation>
					<xs:documentation>credit institution</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CB">
				<xs:annotation>
					<xs:documentation>central bank</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LB">
				<xs:annotation>
					<xs:documentation>liquidity bridge</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EC">
				<xs:annotation>
					<xs:documentation>ECB account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ECM">
				<xs:annotation>
					<xs:documentation>ECB mirror account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>SSP interlinking account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SFI">
				<xs:annotation>
					<xs:documentation>SF interests</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RIP">
				<xs:annotation>
					<xs:documentation>RM interests and penalties</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T2F">
				<xs:annotation>
					<xs:documentation>TARGET2 fees</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASM">
				<xs:annotation>
					<xs:documentation>AS mirror account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ASG">
				<xs:annotation>
					<xs:documentation>AS guarantee account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AST">
				<xs:annotation>
					<xs:documentation>AS technical account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BalanceReport">
		<xs:restriction base="xs:string">
			<xs:enumeration value="940"/>
			<xs:enumeration value="950"/>
			<xs:enumeration value="none"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Flag">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="Max12Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FU">
				<xs:annotation>
					<xs:documentation>future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IC">
				<xs:annotation>
					<xs:documentation>in change</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpdateFlag">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>new</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U">
				<xs:annotation>
					<xs:documentation>update</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
