xsd-t2/SDM/ssp.sdm.ReturnASSettBank.camt.998.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.998.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.998.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="ASSettBank">
		<xs:sequence>
			<xs:element name="ASInf" type="ASInfo">
				<xs:annotation>
					<xs:documentation>ancillary system information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListSttlmBk" type="ListOfSettBank">
				<xs:annotation>
					<xs:documentation>list of settlement bank</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASInfo">
		<xs:sequence>
			<xs:element name="ASNm" type="Name">
				<xs:annotation>
					<xs:documentation>ancillary system name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASBIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>ancillary system BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode">
				<xs:annotation>
					<xs:documentation>country</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ASTp" type="ASType">
				<xs:annotation>
					<xs:documentation>ancillary system type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessReport">
		<xs:sequence>
			<xs:element name="ASSttlmBk" type="ASSettBank">
				<xs:annotation>
					<xs:documentation>ancillary system settlement bank</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="PrtryMsg" type="ProprietaryMessage">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorCode">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>XML error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling">
		<xs:sequence>
			<xs:element name="Err" type="ErrorCode">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ListOfSettBank">
		<xs:sequence>
			<xs:element name="SttlmBkInf" type="SttlmtBankInfo" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>settlement bank information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>always "ReturnASSettBank"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryMessage">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageReference">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rltd" type="MessageReference">
				<xs:annotation>
					<xs:documentation>related reference - message identification of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryData" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordStatusInfo">
		<xs:sequence>
			<xs:element name="PlnndChng" type="Change">
				<xs:annotation>
					<xs:documentation>planned change</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecSts" type="RecordStatus">
				<xs:annotation>
					<xs:documentation>record status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>modification date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>end date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnASSettlBank">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BizRpt" type="BusinessReport">
					<xs:annotation>
						<xs:documentation>business report</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling">
					<xs:annotation>
						<xs:documentation>technical error report</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="ReturnASSettlBank" type="ReturnASSettlBank">
				<xs:annotation>
					<xs:documentation>message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SttlmtBankInfo">
		<xs:sequence>
			<xs:element name="RecStsInf" type="RecordStatusInfo">
				<xs:annotation>
					<xs:documentation>record status information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmBkDtl" type="SttlmtBkDetails">
				<xs:annotation>
					<xs:documentation>settlement bank details</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SttlmtBkDetails">
		<xs:sequence>
			<xs:element name="SttlmBkBIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>settlement bank BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmBkNm" type="Max35Text">
				<xs:annotation>
					<xs:documentation>settlement bank name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmBkAcctNb" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>settlement bank account number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmBkAcctTp" type="SettBkAccType">
				<xs:annotation>
					<xs:documentation>settlement bank account type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ASType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SettBkAccType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RTGS">
				<xs:annotation>
					<xs:documentation>RTGS account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SUB">
				<xs:annotation>
					<xs:documentation>sub-account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Change">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>none</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Flag">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FU">
				<xs:annotation>
					<xs:documentation>future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>archived</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation>archived future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DV">
				<xs:annotation>
					<xs:documentation>delivery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>in deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IC">
				<xs:annotation>
					<xs:documentation>in change</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortingCode">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
