xsd-t2/SDM/ssp.sdm.ReturnStandingOrderMirror.camt.998.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.998.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.998.001.02" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification">
		<xs:sequence>
			<xs:element name="DmstAcct" type="SimpleIdentificationInformation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Amount">
		<xs:sequence>
			<xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>amount in Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessReport">
		<xs:sequence>
			<xs:element name="StgOrdrId" type="StandingOrderIdentification">
				<xs:annotation>
					<xs:documentation>Identification of Standing Order Sender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StgOrdrValSet" type="StandingOrderValueSet" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of the standing orders</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorAccount">
		<xs:sequence>
			<xs:element name="DmstAcct" type="SimpleIdentificationInformation58"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorInformation">
		<xs:sequence>
			<xs:element name="FI" type="FinancialInstitutionIdentifciaton58">
				<xs:annotation>
					<xs:documentation>Financial institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorInformation">
		<xs:sequence>
			<xs:element name="FI" type="FinancialInstitutionIdentifciaton52">
				<xs:annotation>
					<xs:documentation>Financial institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="PrtryMsg" type="ProprietaryMessage">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorCode">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>XML error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling">
		<xs:sequence>
			<xs:element name="Err" type="ErrorCode">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinalAgent">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC of Mirror Account</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentifciaton52">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC52 of the standing order</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentifciaton58">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC58 of the standing order</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnStandingOrderMirror">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BizRpt" type="BusinessReport">
					<xs:annotation>
						<xs:documentation>Business report</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling">
					<xs:annotation>
						<xs:documentation>Operational error</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference1">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Unique message reference</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference2">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Message reference of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParticipantId">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC of settlement bank</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PtcptNm" type="Max105Text">
				<xs:annotation>
					<xs:documentation>Name of settlement bank first</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>Proprietary data type</xs:documentation>
					<xs:documentation>Here the value should be ReturnStandingOrderMirror</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryMessage">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageReference1">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rltd" type="MessageReference2">
				<xs:annotation>
					<xs:documentation>related reference - message identification of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryData" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text">
				<xs:annotation>
					<xs:documentation>Field 72 of the standing order</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text">
				<xs:annotation>
					<xs:documentation>Account number of settlement bank</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation58">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text">
				<xs:annotation>
					<xs:documentation>Account number for field 58 of the SO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="ReturnStandingOrderMirror" type="ReturnStandingOrderMirror">
				<xs:annotation>
					<xs:documentation>Message type for static data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandingOrderIdentification">
		<xs:sequence>
			<xs:element name="PtcptId" type="ParticipantId">
				<xs:annotation>
					<xs:documentation>Identification of settlement bank</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctId" type="AccountIdentification">
				<xs:annotation>
					<xs:documentation>Identification of account of settlement Bank</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StandingOrderValueSet">
		<xs:sequence>
			<xs:element name="StgMirrorId" type="Max18Text">
				<xs:annotation>
					<xs:documentation>Identification of the standing order.</xs:documentation>
					<xs:documentation>This Id will be used to modify an existing standing Order. Currently this should be the idobj of the standing order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amt" type="Amount">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dbtr" type="DebtorInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Debtor Information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cdtr" type="CreditorInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creditor information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtrAcct" type="CreditorAccount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Creditor Account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FnlAgt" type="FinalAgent">
				<xs:annotation>
					<xs:documentation>Final Agent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RmtInf" type="RemittanceInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Remittance information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Frqcy" type="FrequencyCode">
				<xs:annotation>
					<xs:documentation>Frequency of SO.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FrequencyCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DAIL">
				<xs:annotation>
					<xs:documentation>daily</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OVNG">
				<xs:annotation>
					<xs:documentation>overnight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max105Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="105"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max18Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
