xsd-t2/SDM/ssp.sdm.ReturnEvent.camt.998.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.998.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.998.001.03" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="BusinessReport">
		<xs:sequence>
			<xs:element name="Evt" type="Event" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>event</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="PrtryMsg" type="ProprietaryMessage">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorCode">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>XML error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling">
		<xs:sequence>
			<xs:element name="Err" type="ErrorCode">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Event">
		<xs:sequence>
			<xs:element name="RecStsInf" type="RecordStatusInfo">
				<xs:annotation>
					<xs:documentation>record status information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EvtInf" type="EventInfo">
				<xs:annotation>
					<xs:documentation>event information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventInfo">
		<xs:sequence>
			<xs:element name="EvtTp" type="EventType">
				<xs:annotation>
					<xs:documentation>event type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EvtTm" type="ISOTime">
				<xs:annotation>
					<xs:documentation>event time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EvtDesc" type="Max35Text">
				<xs:annotation>
					<xs:documentation>event description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EvtCtry" type="CountryCode">
				<xs:annotation>
					<xs:documentation>event county</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mdle" type="Module">
				<xs:annotation>
					<xs:documentation>module</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageReference">
		<xs:sequence>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>always "ReturnEvent"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data" type="ProprietaryData3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData3">
		<xs:sequence>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryMessage">
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader1"/>
			<xs:element name="Rltd" type="MessageReference">
				<xs:annotation>
					<xs:documentation>related reference - message identification of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryData" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecordStatusInfo">
		<xs:sequence>
			<xs:element name="PlnndChng" type="Change">
				<xs:annotation>
					<xs:documentation>planned change</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecSts" type="RecordStatus">
				<xs:annotation>
					<xs:documentation>record status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrstDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>first activation date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>modification date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>end date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnEvent">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BizRpt" type="BusinessReport">
					<xs:annotation>
						<xs:documentation>business report</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling">
					<xs:annotation>
						<xs:documentation>technical error report</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="ReturnEvent" type="ReturnEvent">
				<xs:annotation>
					<xs:documentation>message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Change">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>none</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>modification</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string">
			<xs:maxLength value="34"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="140"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Module">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SSP">
				<xs:annotation>
					<xs:documentation>common SSP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RTGS">
				<xs:annotation>
					<xs:documentation>PM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAM">
				<xs:annotation>
					<xs:documentation>HAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RM">
				<xs:annotation>
					<xs:documentation>RM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SF">
				<xs:annotation>
					<xs:documentation>SF</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CO1">
				<xs:annotation>
					<xs:documentation>CROSS</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIB">
				<xs:annotation>
					<xs:documentation>CRISP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CII">
				<xs:annotation>
					<xs:documentation>CRISP INVOICE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA1">
				<xs:annotation>
					<xs:documentation>CRAKS1PM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA3">
				<xs:annotation>
					<xs:documentation>CRAKS3</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ALL">
				<xs:annotation>
					<xs:documentation>all</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RecordStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>active</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FU">
				<xs:annotation>
					<xs:documentation>future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AR">
				<xs:annotation>
					<xs:documentation>archived</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AF">
				<xs:annotation>
					<xs:documentation>archived future</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DV">
				<xs:annotation>
					<xs:documentation>delivery</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ID">
				<xs:annotation>
					<xs:documentation>in deletion</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IC">
				<xs:annotation>
					<xs:documentation>in change</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
