xsd-t2/T2SI/ssp.t2si.user.ReturnAccount.camt.004.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.004.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.004.001.05" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification4">
		<xs:annotation>
			<xs:documentation>Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation>Other - Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountOrBusinessError1">
		<xs:annotation>
			<xs:documentation>Choice between account details or a business error when the requested data cannot be retrieved.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Acct" type="CashAccount24">
				<xs:annotation>
					<xs:documentation>Account</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountOrOperationalError1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AcctRpt" type="AccountReport12" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>AccountReport</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling3" maxOccurs="2">
					<xs:annotation>
						<xs:documentation>OperationalError</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountReport12">
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentification4">
				<xs:annotation>
					<xs:documentation>AccountIdentification - Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctOrErr" type="AccountOrBusinessError1">
				<xs:annotation>
					<xs:documentation>AccountOrError</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceRestrictionType1">
		<xs:annotation>
			<xs:documentation>Type providing further information on balance restrictions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Tp" type="GenericIdentification1">
				<xs:annotation>
					<xs:documentation>Type of the restriction, for example, selling restriction, buying restriction, placing restriction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrcgTp" type="ProcessingType1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ProcessingType - Classification of the type of processing restriction that the system should apply for the restriction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BalanceType6">
		<xs:sequence>
			<xs:element name="Prtry" type="T2SCashBalanceCodes_T2S_1">
				<xs:annotation>
					<xs:documentation>Proprietary - Specifies the nature of a balance, in a proprietary form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation>FinancialInstitutionIdentification - Unique and unambiguous identification of a financial institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount24">
		<xs:sequence>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Currency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ownr" type="PartyIdentification42" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Owner</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Svcr" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Servicer of the account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MulBal" type="CashBalance5" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>MultilateralBalance</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashBalance5">
		<xs:sequence>
			<xs:element name="Amt" type="RestrictedFINImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode">
				<xs:annotation>
					<xs:documentation>CreditDebitIndicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tp" type="BalanceType6">
				<xs:annotation>
					<xs:documentation>Type - Specifies the nature of a balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ValDt" type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ValueDate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RstrctnTp" type="BalanceRestrictionType1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type providing further information on balance restrictions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTime">
		<xs:sequence>
			<xs:element name="DtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>DateTime</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrAcct" type="ReturnAccountV05"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling1">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>Proprietary T2 / T2S error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling3">
		<xs:sequence>
			<xs:element name="Err" type="ErrorHandling1">
				<xs:annotation>
					<xs:documentation>Error</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="RestrictedFINXMax140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>T2 error description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier">
				<xs:annotation>
					<xs:documentation>BIC of Financial Institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation>Identification of DCA</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericIdentification1">
		<xs:annotation>
			<xs:documentation>Information related to an identification, eg, party identification or account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="ExactAlphaNumericText_T2S_2">
				<xs:annotation>
					<xs:documentation>Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader3">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>MessageIdentification - Point to point reference, as assigned by the sender, to unambiguously identify the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
				<xs:annotation>
					<xs:documentation>OriginalBusinessQuery - Unique identification of the original query message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification7">
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier">
				<xs:annotation>
					<xs:documentation>AnyBIC - Code allocated to an institution by the ISO 9362 Registration Authority</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalBusinessQuery1">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>MessageIdentification - Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party10">
		<xs:sequence>
			<xs:element name="OrgId" type="OrganisationIdentification7">
				<xs:annotation>
					<xs:documentation>OrganisationIdentification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42">
		<xs:sequence>
			<xs:element name="Nm" type="RestrictedFINXMax140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="Party10" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identification - Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingType1">
		<xs:annotation>
			<xs:documentation>Type of processing restrictions.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cd" type="ProcessingType1Code">
				<xs:annotation>
					<xs:documentation>Type of processing restrictions, in a coded form.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnAccountV05">
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader3">
				<xs:annotation>
					<xs:documentation>MessageHeader</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RptOrErr" type="AccountOrOperationalError1Choice">
				<xs:annotation>
					<xs:documentation>ReportOrError</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation>Credit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation>Debit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExactAlphaNumericText_T2S_2">
		<xs:restriction base="xs:string">
			<xs:minLength value="4"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProcessingType1Code">
		<xs:annotation>
			<xs:documentation>ProcessingType1Code</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RSVT">
				<xs:annotation>
					<xs:documentation>Reservation = Restriction is the creation of a reservation of a cash balance or a securities position for a specific purpose.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLCK">
				<xs:annotation>
					<xs:documentation>Blocking = Restriction is the blocking of a party, securities account, security or cash account from settlement, blocking of securities position or cash balance for a specific purpose</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EARM">
				<xs:annotation>
					<xs:documentation>Earmarking = Restriction linked to the balance type that defines and manages position types for securities positions.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EFAC">
				<xs:annotation>
					<xs:documentation>EarmarkingForAutoCollateralisation = Restriction linked to the balance type that defines and manages position types for securities positions for auto-collateralisation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSDB">
				<xs:annotation>
					<xs:documentation>CoSDBlocking = Restriction does not support any partial execution.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
		<xs:annotation>
			<xs:documentation>Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation>Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax140Text">
		<xs:annotation>
			<xs:documentation>Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,&apos;\+ ]{1,140}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T2SCashBalanceCodes_T2S_1">
		<xs:annotation>
			<xs:documentation>Specifies the nature of the system balance, such as opening balance.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCA">
				<xs:annotation>
					<xs:documentation>Available Liquidity on the Dedicated T2S Account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RSTR">
				<xs:annotation>
					<xs:documentation>Restriction Type field used.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SBCB">
				<xs:annotation>
					<xs:documentation>Sum of blocked balances per Dedicated T2S Account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SRCB">
				<xs:annotation>
					<xs:documentation>Sum of reserved balances per Dedicated T2S Account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TCCA">
				<xs:annotation>
					<xs:documentation>Current balance (= sum of the three before mentioned balances)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
