xsd-t2/T2SI/ssp.t2si.user.GetAccount.camt.003.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.003.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.003.001.05" elementFormDefault="qualified">
	<xs:element name="Document" type="Document">
		<xs:annotation>
			<xs:documentation source="T2S-use">18/07/2011</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccountCriteria1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountCriteria1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NewCrit" type="AccountCriteria5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountCriteria5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountCriteria5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for an account and to report on the account. A name may be given to the new query.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SchCrit" type="CashAccountSearchCriteria5">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the account information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification4">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentification4</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Othr" type="GenericAccountIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationSearchCriteria2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountIdentificationSearchCriteria2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice between the different options to search for an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EQ" type="AccountIdentification4">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Equal</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Search for one or more accounts based on exact identification of the account(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountQuery1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AccountQuery1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specification of the query criteria.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctCrit" type="AccountCriteria1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountCriteria</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the account query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountSearchCriteria5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CashAccountSearchCriteria5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentificationSearchCriteria2" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctOwnr" type="PartyIdentification42" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountOwner - To be used if cash account is not linked to the  requestor but to the participant named here.</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="GetAcct" type="GetAccountV05"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="RestrictedFINX2Max34Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Cash Account Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAccountV05">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GetAccountV05</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">The GetAccount message is used to request information on the details of one or more accounts held at the transaction administrator, including information on the balances.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader2">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctQryDef" type="AccountQuery1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">AccountQueryDefinition</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Defines the account query criteria.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MsgId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentification7">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification7</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AnyBIC" type="AnyBICIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BIC of RTGS account owner </xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to an institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party10">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party10</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgId" type="OrganisationIdentification7">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification42">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">PartyIdentification42</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="Party10">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINX2Max34Text">
		<xs:annotation>
			<xs:documentation>RestrictedFINX2Max34Text</xs:documentation>
			<xs:documentation>Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,34}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:annotation>
			<xs:documentation>RestrictedFINXMax16Text</xs:documentation>
			<xs:documentation>Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
