xsd-t2/HAM/ssp.ham.GetTransaction.camt.005.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by 15 concurrent users of Z4 (DEUTSCHE BUNDESBANK) -->
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.005.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.005.001.05" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentificationSearchCriteria2Choice">
		<xs:sequence>
			<xs:element name="CTTxt" type="CountryCode">
				<xs:annotation>
					<xs:documentation>country code of the account owner</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRange2Choice">
		<xs:sequence>
			<xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange">
				<xs:annotation>
					<xs:documentation>amount in Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRangeBoundary1">
		<xs:sequence>
			<xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>boundary amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Incl" type="YesNoIndicator">
				<xs:annotation>
					<xs:documentation>inclusive flag</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccountEntrySearch3">
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentificationSearchCriteria2Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NtryDt" type="DateAndDateTimeSearchChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification3Choice">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalCashClearingSystem1Code"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndDateTimeSearchChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DtTmSch" type="DateTimePeriodChoice"/>
				<xs:element name="DtSch" type="DateSearchChoice"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>from date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>to date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateSearchChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrToDt" type="DatePeriodDetails">
					<xs:annotation>
						<xs:documentation>from/to date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EQDt" type="ISODate">
					<xs:annotation>
						<xs:documentation>equal date</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>from date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ToDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>to date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTmRg" type="DateTimePeriodDetails">
					<xs:annotation>
						<xs:documentation>date/time range</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>from date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>to date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="GetTx" type="GetTransaction">
				<xs:annotation>
					<xs:documentation>get transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FromToAmountRange">
		<xs:sequence>
			<xs:element name="FrAmt" type="AmountRangeBoundary1"/>
			<xs:element name="ToAmt" type="AmountRangeBoundary1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetTransaction">
		<xs:sequence>
			<xs:element name="MsgHdr" type="MessageHeader2"/>
			<xs:element name="TxQryDef" type="TransactionQuery1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>transaction query</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAmountRangeChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrAmt" type="AmountRangeBoundary1">
					<xs:annotation>
						<xs:documentation>from amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ToAmt" type="AmountRangeBoundary1">
					<xs:annotation>
						<xs:documentation>to amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FrToAmt" type="FromToAmountRange">
					<xs:annotation>
						<xs:documentation>from/to amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EQAmt" type="ImpliedCurrencyAndAmount">
					<xs:annotation>
						<xs:documentation>amount in Euro</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAndAmountRange">
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice">
				<xs:annotation>
					<xs:documentation>amount range</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstructionStatusSearch3">
		<xs:sequence>
			<xs:element name="PmtInstrSts" type="PaymentStatusCodeSearch2Choice">
				<xs:annotation>
					<xs:documentation>payment status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryStsRsn" type="Max4AlphaNumericText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageHeader2">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ShrtBizId" type="ShortPaymentIdentification1">
					<xs:annotation>
						<xs:documentation>short business identification</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrtryId" type="Max43Text">
					<xs:annotation>
						<xs:documentation>SSP reference</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentOrigin1Choice">
		<xs:sequence>
			<xs:element name="FINMT" type="Max3NumericText">
				<xs:annotation>
					<xs:documentation>SWIFT message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentSearch4">
		<xs:choice>
			<xs:sequence>
				<xs:element name="PmtId" type="PaymentIdentification4Choice">
					<xs:annotation>
						<xs:documentation>unique and unambiguous identification of a payment</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="ReqdExctnDt" type="DateAndDateTimeSearchChoice" minOccurs="0">
					<xs:annotation>
						<xs:documentation>execution date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Sts" type="InstructionStatusSearch3" minOccurs="0" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>payment status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InstdAmt" type="AmountRange2Choice" minOccurs="0">
					<xs:annotation>
						<xs:documentation>amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CdtDbtInd" type="CreditDebitCode">
					<xs:annotation>
						<xs:documentation>credit/debit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PmtMtd" type="PaymentOrigin1Choice" minOccurs="0">
					<xs:annotation>
						<xs:documentation>payment method</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PmtTp" type="PaymentType3Choice" minOccurs="0" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>payment type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0">
					<xs:annotation>
						<xs:documentation>settlement time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TxId" type="Max35Text" minOccurs="0">
					<xs:annotation>
						<xs:documentation>TRN</xs:documentation>
						<xs:documentation>Usage: this is the former PaymentInstructionReference.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentStatusCodeSearch2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PdgSts" type="PendingStatus4Code"/>
				<xs:element name="FnlSts" type="FinalStatusCode"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType3Choice">
		<xs:sequence>
			<xs:element name="Prtry" type="ProprietaryPaymentTypeCode">
				<xs:annotation>
					<xs:documentation>payment type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShortPaymentIdentification1">
		<xs:sequence>
			<xs:element name="TxId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>TRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntrBkSttlmDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstgAgt" type="BranchAndFinancialInstitutionIdentification5">
				<xs:annotation>
					<xs:documentation>sender</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemSearch3">
		<xs:sequence>
			<xs:element name="SysId" type="ClearingSystemIdentification3Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>system identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MmbId" type="BranchAndFinancialInstitutionIdentification5" minOccurs="0">
				<xs:annotation>
					<xs:documentation>member identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>country</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCriteria1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="QryNm" type="Max35Text">
					<xs:annotation>
						<xs:documentation>query name - reference to preceding query</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewCrit" type="TransactionCriteria4">
					<xs:annotation>
						<xs:documentation>new query definition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCriteria4">
		<xs:sequence>
			<xs:element name="SchCrit" type="TransactionSearchCriteria4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>search criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionQuery1">
		<xs:sequence>
			<xs:element name="QryTp" type="QueryType2Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation>query type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxCrit" type="TransactionCriteria1Choice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>transaction criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionSearchCriteria4">
		<xs:sequence>
			<xs:element name="PmtTo" type="SystemSearch3" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>if credit: "account", if debit: "counterpart"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtFr" type="SystemSearch3" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>if credit: "counterpart", if debit: "account"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtSch" type="PaymentSearch4" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment search</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctNtrySch" type="CashAccountEntrySearch3" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account entry search</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICFIIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation>credits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation>debits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalCashClearingSystem1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TGT">
				<xs:annotation>
					<xs:documentation>SSP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAND">
				<xs:annotation>
					<xs:documentation>cancelled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RJTD">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation>settled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="1000000000000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max43Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="43"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PendingStatus4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PSTL">
				<xs:annotation>
					<xs:documentation>pending settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLE">
				<xs:annotation>
					<xs:documentation>earmarked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProprietaryPaymentTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BKT">
				<xs:annotation>
					<xs:documentation>backup transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRM">
				<xs:annotation>
					<xs:documentation>billing from CRM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CWD">
				<xs:annotation>
					<xs:documentation>cash withdrawal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAM">
				<xs:annotation>
					<xs:documentation>interests from HAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LQT">
				<xs:annotation>
					<xs:documentation>liquidity transfer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RGP">
				<xs:annotation>
					<xs:documentation>regular payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RGT">
				<xs:annotation>
					<xs:documentation>regular transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RMM">
				<xs:annotation>
					<xs:documentation>interest/penalty from RM module</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SFM">
				<xs:annotation>
					<xs:documentation>interest from SF module</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QueryType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALLL">
				<xs:annotation>
					<xs:documentation>return all matching items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHNG">
				<xs:annotation>
					<xs:documentation>return new items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELD">
				<xs:annotation>
					<xs:documentation>return deleted items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODF">
				<xs:annotation>
					<xs:documentation>return modified items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
