xsd-t2/HAM/ssp.ham.GetTransaction.camt.005.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.005.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.005.001.04" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountCashEntrySearch">
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentificationSearchCriteria" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NtryDt" type="DateSearch" minOccurs="0">
				<xs:annotation>
					<xs:documentation>execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationSearchCriteria">
		<xs:sequence>
			<xs:element name="CTTxt" type="CountryCode">
				<xs:annotation>
					<xs:documentation>country code of the account owner</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRange">
		<xs:sequence>
			<xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange">
				<xs:annotation>
					<xs:documentation>amount in Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AmountRangeBoundary">
		<xs:sequence>
			<xs:element name="BdryAmt" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>boundary amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Incl" type="YesNoIndicator">
				<xs:annotation>
					<xs:documentation>inclusive flag</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>from date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>to date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateSearch">
		<xs:sequence>
			<xs:element name="DtSch" type="DateSearchChoice">
				<xs:annotation>
					<xs:documentation>date search</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateSearchChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrToDt" type="DatePeriodDetails">
					<xs:annotation>
						<xs:documentation>from/to date</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EQDt" type="ISODate">
					<xs:annotation>
						<xs:documentation>equal date</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>from date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ToDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>to date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTmRg" type="DateTimePeriodDetails">
					<xs:annotation>
						<xs:documentation>date/time range</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>from date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>to date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimeSearch">
		<xs:sequence>
			<xs:element name="DtTmSch" type="DateTimePeriodChoice">
				<xs:annotation>
					<xs:documentation>date/time search</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="GetTx" type="GetTransaction">
				<xs:annotation>
					<xs:documentation>get transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FromToAmountRange">
		<xs:sequence>
			<xs:element name="FrAmt" type="AmountRangeBoundary">
				<xs:annotation>
					<xs:documentation>from amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToAmt" type="AmountRangeBoundary">
				<xs:annotation>
					<xs:documentation>to amount</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetTransaction">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageIdentification">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxQryDef" type="TransactionQueryDefinition" minOccurs="0">
				<xs:annotation>
					<xs:documentation>transaction query</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAmountRangeChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrAmt" type="AmountRangeBoundary">
					<xs:annotation>
						<xs:documentation>from amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ToAmt" type="AmountRangeBoundary">
					<xs:annotation>
						<xs:documentation>to amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FrToAmt" type="FromToAmountRange">
					<xs:annotation>
						<xs:documentation>from/to amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EQAmt" type="ImpliedCurrencyAndAmount">
					<xs:annotation>
						<xs:documentation>amount in Euro</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImpliedCurrencyAndAmountRange">
		<xs:sequence>
			<xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice">
				<xs:annotation>
					<xs:documentation>amount range</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstructionStatusSearch">
		<xs:sequence>
			<xs:element name="PmtInstrSts" type="PaymentStatusCodeSearchChoice">
				<xs:annotation>
					<xs:documentation>payment status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrtryStsRsn" type="Max4AlphaNumericText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemberIdentification">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageIdentification">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentificationChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ShrtBizId" type="PaymentInstructionReferenceDetails">
					<xs:annotation>
						<xs:documentation>short business identification</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrtryRef" type="Max43Text">
					<xs:annotation>
						<xs:documentation>SSP reference</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstructionReferenceDetails">
		<xs:sequence>
			<xs:element name="PmtInstrRef" type="Max35Text">
				<xs:annotation>
					<xs:documentation>TRN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntrBkValDt" type="ISODate">
				<xs:annotation>
					<xs:documentation>execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstgAgtId" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>sender</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentOrigin">
		<xs:sequence>
			<xs:element name="FINMT" type="Max3NumericText">
				<xs:annotation>
					<xs:documentation>SWIFT message type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentSearch">
		<xs:choice>
			<xs:sequence>
				<xs:element name="InstrRef" type="PaymentIdentificationChoice">
					<xs:annotation>
						<xs:documentation>unique and unambiguous identification of a payment</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:sequence>
				<xs:element name="TrfValDt" type="DateTimeSearch" minOccurs="0">
					<xs:annotation>
						<xs:documentation>entry time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InstrSts" type="InstructionStatusSearch" minOccurs="0" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>payment status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InstdAmt" type="AmountRange" minOccurs="0">
					<xs:annotation>
						<xs:documentation>amount</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CdtDbtInd" type="CreditDebitCode">
					<xs:annotation>
						<xs:documentation>credit/debit</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PmtMtd" type="PaymentOrigin" minOccurs="0">
					<xs:annotation>
						<xs:documentation>payment method</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0">
					<xs:annotation>
						<xs:documentation>settlement time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PmtTp" type="PaymentType" minOccurs="0" maxOccurs="3">
					<xs:annotation>
						<xs:documentation>payment type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PmtInstrRef" type="Max35Text" minOccurs="0">
					<xs:annotation>
						<xs:documentation>TRN</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PaymentStatusCodeSearchChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PdgSts" type="PendingStatusCode">
					<xs:annotation>
						<xs:documentation>pending status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FnlSts" type="FinalStatusCode">
					<xs:annotation>
						<xs:documentation>final status</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTransactionParty">
		<xs:sequence>
			<xs:element name="FrstAgt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F52, ordering institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstgAgtCrspdt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F53, sender correspondent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Intrmy" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F56, intermediary institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FnlAgt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F57, account with institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cdtr" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F58, beneficiary institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="PrtryPmtTp" type="ProprietaryPaymentType">
				<xs:annotation>
					<xs:documentation>proprietary payment type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemSearch">
		<xs:sequence>
			<xs:element name="SysId" type="CashClearingSystemCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>system identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MmbId" type="MemberIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>member identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>country</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCriteria">
		<xs:sequence>
			<xs:element name="SchCrit" type="TransactionSearchCriteria" minOccurs="0">
				<xs:annotation>
					<xs:documentation>search criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCriteriaDefinitionChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="QryNm" type="Max35Text">
					<xs:annotation>
						<xs:documentation>query name - reference to preceding query</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewCrit" type="TransactionCriteria">
					<xs:annotation>
						<xs:documentation>new query definition</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionQueryDefinition">
		<xs:sequence>
			<xs:element name="QryTp" type="QueryTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>query type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxCrit" type="TransactionCriteriaDefinitionChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>transaction criteria</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionSearchCriteria">
		<xs:sequence>
			<xs:element name="PmtTo" type="SystemSearch" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>when credit: "account", when debit: "counterpart"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtFr" type="SystemSearch" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>when credit: "counterpart", when debit: "account"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtSch" type="PaymentSearch" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment search</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctNtrySch" type="AccountCashEntrySearch" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account entry search</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AmountDirectionCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation>credits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation>debits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CashClearingSystemCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TGT">
				<xs:annotation>
					<xs:documentation>SSP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation>credits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation>debits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalStatusCode">
		<xs:restriction base="PaymentInstructionStatusCode">
			<xs:enumeration value="CAND">
				<xs:annotation>
					<xs:documentation>cancelled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RJTD">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation>settled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:maxExclusive value="1000000000000"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InstructionCopyIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max3NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max43Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="43"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentInstructionStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAND">
				<xs:annotation>
					<xs:documentation>cancelled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSTL">
				<xs:annotation>
					<xs:documentation>pending settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RJTD">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation>settled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLE">
				<xs:annotation>
					<xs:documentation>earmarked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PendingStatusCode">
		<xs:restriction base="PaymentInstructionStatusCode">
			<xs:enumeration value="PSTL">
				<xs:annotation>
					<xs:documentation>pending settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLE">
				<xs:annotation>
					<xs:documentation>earmarked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProprietaryPaymentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BKT">
				<xs:annotation>
					<xs:documentation>backup transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CRM">
				<xs:annotation>
					<xs:documentation>billing from CRM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CWD">
				<xs:annotation>
					<xs:documentation>cash withdrawal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAM">
				<xs:annotation>
					<xs:documentation>interests from HAM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LQT">
				<xs:annotation>
					<xs:documentation>liquidity transfer</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RGP">
				<xs:annotation>
					<xs:documentation>regular payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RGT">
				<xs:annotation>
					<xs:documentation>regular transaction</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RMM">
				<xs:annotation>
					<xs:documentation>interest/penalty from RM module</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SFM">
				<xs:annotation>
					<xs:documentation>interest from SF module</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QueryTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ALLL">
				<xs:annotation>
					<xs:documentation>return all matching items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHNG">
				<xs:annotation>
					<xs:documentation>return new items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELD">
				<xs:annotation>
					<xs:documentation>return deleted items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MODF">
				<xs:annotation>
					<xs:documentation>return modified items</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestedIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="StatusReasonCode">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
