xsd-epc/epc_sepa_sdd_b2b_emandate/EPC129-09v6.0_pain.011.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pain.011.001.01"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.011.001.01"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_EPC"/>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Any BICIdentifier</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">BICIdentifier</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Branch And Financial Institution Identification 4</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Financial Institution Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_EPC">
    <xs:complexContent>
      <xs:restriction base="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
          <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Either BIC or ‘Other/Identification’ must be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CancellationReasonInformation2">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Cancellation Reason Information 2</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide information on the reason of the mandate cancellation request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Rsn" type="MandateReason1Choice">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the cancellation request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancellationReasonInformation2_EPC">
    <xs:complexContent>
      <xs:restriction base="CancellationReasonInformation2">
        <xs:sequence>
          <xs:element name="Rsn" type="MandateReason1Choice_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Country Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Date And Place Of Birth</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Date and place of birth of a person.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Birth Date</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date on which a person is born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Province Of Birth</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Province where a person was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CityOfBirth" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">City Of Birth</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">City where a person was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtryOfBirth" type="CountryCode">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Country Of Birth</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Country where a person was born.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="MndtCxlReq" type="MandateCancellationRequestV01">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Mandate Cancellation Request V01</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_EPC">
    <xs:complexContent>
      <xs:restriction base="Document">
        <xs:sequence>
          <xs:element name="MndtCxlReq" type="MandateCancellationRequestV01_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">External Local Instrument 1Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
Specifies the external local instrument code in the format of character string with a maximum length of 35 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code_EPC">
    <xs:restriction base="ExternalLocalInstrument1Code">
      <xs:enumeration value="B2B">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">SEPA Business to Business Direct Debit</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">
Transaction is related to SEPA business to business direct debit.
Region: EMEA
ISO Country Code: SEPA
ISO Currency Code: EUR
Payment System: PEACH
cDD/CT/ Both/ Other: DD
Corp2Bk, Bk2Bk, or Both:
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalMandateReason1Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">External Mandate Reason 1Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
Specifies the external mandate processing reason code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">External Organisation Identification 1Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
Specifies the external organisation identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">External Person Identification 1Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
Specifies the external person identification scheme name code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">External Service Level 1Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
Specifies the external service level code in the format of character string with a maximum length of 4 characters.
The list of valid codes is an external code list published separately.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code_EPC">
    <xs:restriction base="ExternalServiceLevel1Code">
      <xs:enumeration value="SEPA">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">SingleEuroPaymentsArea</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Payment must be executed following the Single Euro Payments Area scheme.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Financial Institution Identification 7</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BIC</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_EPC">
    <xs:complexContent>
      <xs:restriction base="FinancialInstitutionIdentification7">
        <xs:sequence>
          <xs:element name="BIC" type="BICIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-13 BIC of the Debtor Bank.</xs:documentation>
              <xs:documentation source="Rulebook">The BIC is optional for national transactions except if Member States use the waiver as per Article 16(6) of EU Regulation 260/2012.</xs:documentation>
              <xs:documentation source="Rulebook">The BIC is mandatory for EU/EEA cross-border transactions until 31 January 2016 and it will continue to be mandatory for non-EU/non-EEA cross-border SEPA transactions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Othr" type="GenericFinancialIdentification1_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Generic Financial Identification 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_EPC">
    <xs:complexContent>
      <xs:restriction base="GenericFinancialIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Only ‘NOTPROVIDED’ is allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Generic Organisation Identification 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Scheme Name</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issr" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Generic Person Identification 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Id" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Scheme Name</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issr" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1_EPC">
    <xs:complexContent>
      <xs:restriction base="GenericPersonIdentification1">
        <xs:sequence>
          <xs:element name="Id" type="Max35Text"/>
          <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_EPC" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GroupHeader31">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Group Header 31</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of characteristics shared by all individual transactions included in the message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Message Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">
Point to point reference, as assigned by the instructing party, and sent to the instructed party, to unambiguously identify the message.
Usage: The instructing party has to make sure that MessageIdentification is unique per instructed party for a pre-agreed period.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDtTm" type="ISODateTime">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Creation Date Time</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date and time at which the message was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader31_EPC">
    <xs:complexContent>
      <xs:restriction base="GroupHeader31">
        <xs:sequence>
          <xs:element name="MsgId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CreDtTm" type="ISODateTime">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ISODate Time</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Local Instrument 2Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements that further identifies the type of local instruments being requested by the initiating party.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrument1Code">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the local instrument, as published in an external local instrument code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="LocalInstrument2Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
                <xs:documentation source="Rulebook">AT-20 The identification code of the Scheme.</xs:documentation>
                <xs:documentation source="Usage Rule">Only ‘B2B’ is allowed to indicate a B2B direct debit.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateCancellation1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Cancellation 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Identifies the mandate to be cancelled.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CxlRsn" type="CancellationReasonInformation2">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Cancellation Reason</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide detailed information on the cancellation reason.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgnlMndt" type="OriginalMandate1Choice">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Original Mandate</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide the original mandate data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateCancellation1_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateCancellation1">
        <xs:sequence>
          <xs:element name="CxlRsn" type="CancellationReasonInformation2_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgnlMndt" type="OriginalMandate1Choice_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateCancellationRequestV01">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Cancellation Request V01</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">The MandateCancellationRequest message is a request from one party to another party to cancel an existing mandate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader31">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Group Header</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of characteristics to identify the message and parties playing a role in the cancellation of the mandate, but which are not part of the mandate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UndrlygCxlDtls" type="MandateCancellation1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Underlying Cancellation Details</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide details on the cancellation request.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateCancellationRequestV01_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateCancellationRequestV01">
        <xs:sequence>
          <xs:element name="GrpHdr" type="GroupHeader31_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UndrlygCxlDtls" type="MandateCancellation1_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateInformation1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Information 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Information that serves as a basis to debit an account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MndtId" type="Max35Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Mandate Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the creditor, to unambiguously identify the mandate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Tp" type="MandateTypeInformation1" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the type of mandate, such as paper, electronic or scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Ocrncs" type="MandateOccurrences1" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Occurrences</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide details of the duration of the mandate and occurrence of the underlying transactions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Creditor Scheme Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Credit party that signs the mandate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cdtr" type="PartyIdentification32">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Creditor</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Party that signs the mandate and to whom an amount of money is due.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Ultimate Creditor</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Ultimate party to which an amount of money is due.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Dbtr" type="PartyIdentification32">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Debtor</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Party that signs the mandate and owes an amount of money to the (ultimate) creditor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Debtor Agent</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Financial institution servicing an account for the debtor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Ultimate Debtor</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Ultimate party that owes an amount of money to the (ultimate) creditor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RfrdDoc" type="ReferredDocumentInformation3" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Referred Document</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide information to identify the underlying documents associated with the mandate.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateInformation1_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateInformation1">
        <xs:sequence>
          <xs:element name="MndtId" type="Max35Text">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-01 Unique Mandate Reference.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Tp" type="MandateTypeInformation1_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Ocrncs" type="MandateOccurrences1_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="CdtrSchmeId" type="PartyIdentification32_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Cdtr" type="PartyIdentification32_EPC_2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UltmtCdtr" type="PartyIdentification32_EPC_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Dbtr" type="PartyIdentification32_EPC_4">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UltmtDbtr" type="PartyIdentification32_EPC_5" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RfrdDoc" type="ReferredDocumentInformation3_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateOccurrences1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Occurrences 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide further details related to the duration of the mandate and the occurrence of the underlying transactions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeqTp" type="SequenceType2Code">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Sequence Type</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identifies the underlying transaction sequence as either recurring or one-off.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateOccurrences1_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateOccurrences1">
        <xs:sequence>
          <xs:element name="SeqTp" type="SequenceType2Code">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-21 Transaction / Sequence type (recurrent, one-off).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateReason1Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Reason 1Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the request or status of a mandate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalMandateReason1Code">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason, as published in an external reason code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateReason1Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateReason1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalMandateReason1Code">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Rulebook">See Message Element Specifications below.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MandateTypeInformation1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Mandate Type Information 1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to further detail the information related to the type of payment.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Service Level</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Agreement under which or rules under which the mandate resides.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Local Instrument</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">
User community specific instrument.
Usage: This element is used to specify a local instrument, local clearing option and/or further qualify the service or service level.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MandateTypeInformation1_EPC">
    <xs:complexContent>
      <xs:restriction base="MandateTypeInformation1">
        <xs:sequence>
          <xs:element name="SvcLvl" type="ServiceLevel8Choice_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LclInstrm" type="LocalInstrument2Choice_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Max140Text">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max 140Text</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_EPC">
    <xs:restriction base="Max140Text">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max 35Text</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max 70Text</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Organisation Identification 4</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">BICOr BEI</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique identification of an organisation, as assigned by an institution, using an identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_EPC">
    <xs:complexContent>
      <xs:restriction base="OrganisationIdentification4">
        <xs:sequence>
          <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
          <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Organisation Identification Scheme Name 1Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the organisation identification scheme.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Prtry" type="Max35Text">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalMandate1Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Original Mandate 1Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies the mandate that is being accepted.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgnlMndt" type="MandateInformation1">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Original Mandate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to provide the original mandate data.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginalMandate1Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="OriginalMandate1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgnlMndt" type="MandateInformation1_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Party 6Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Organisation Identification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="PrvtId" type="PersonIdentification5">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Private Identification</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person, eg, passport.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="PrvtId" type="PersonIdentification5_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Private Identification is used to identify either an organisation or a private person.</xs:documentation>
                <xs:documentation source="Usage Rule">‘Scheme Name’ under ‘Other’ must specify ‘SEPA’ under ‘Proprietary’.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice_EPC_2">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Either ‘BIC or BEI’ or one occurrence of ‘Other’ is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PrvtId" type="PersonIdentification5_EPC_2">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Either ‘Date and Place of Birth’ or one occurrence of ‘Other’ is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Party6Choice_EPC_3">
    <xs:complexContent>
      <xs:restriction base="Party6Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification4_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Either 'BIC' or 'BEI' or one occurrence of 'Other' is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PrvtId" type="PersonIdentification5_EPC_2">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Either 'Date and Place of Birth' or one occurrence of 'Other' is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Party Identification 32</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Postal Address</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="Party6Choice" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Id" type="Party6Choice_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-02 Identifier of the Creditor.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC_2">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-03 Name of the Creditor.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PstlAdr" type="PostalAddress6_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Usage Rule">AT-05 Address of the Creditor.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC_3">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-38 Name of the Creditor Reference Party.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="Party6Choice_EPC_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-39 Identification code of the Creditor Reference Party.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC_4">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-14 Name of the Debtor.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PstlAdr" type="PostalAddress6_EPC">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Rulebook">AT-09 Address of the Debtor.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="Party6Choice_EPC_2" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-27 Debtor identification code.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_EPC_5">
    <xs:complexContent>
      <xs:restriction base="PartyIdentification32">
        <xs:sequence>
          <xs:element name="Nm" type="Max140Text_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-15 Name of the Debtor Reference Party.</xs:documentation>
              <xs:documentation source="Usage Rule">‘Name’ is limited to 70 characters in length.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Id" type="Party6Choice_EPC_3" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-37 Identification code of the Debtor Reference Party.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Person Identification 5</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a person.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Date And Place Of Birth</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date and place of birth of a person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique identification of a person, as assigned by an institution, using an identification scheme.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_EPC">
    <xs:complexContent>
      <xs:restriction base="PersonIdentification5">
        <xs:sequence>
          <xs:element name="Othr" type="GenericPersonIdentification1_EPC" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Only one occurrence of ‘Other’ is allowed.</xs:documentation>
              <xs:documentation source="Usage Rule">'Identification' must be used with an identifier described in General Message Element Specifications, Chapter 1.5.2.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_EPC_2">
    <xs:complexContent>
      <xs:restriction base="PersonIdentification5">
        <xs:sequence>
          <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
          <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0"/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Person Identification Scheme Name 1Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Sets of elements to identify a name of the identification scheme.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a coded form as published in an external list.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Prtry" type="Max35Text">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme, in a free text form.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="PersonIdentificationSchemeName1Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Prtry" type="Max35Text"/>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PostalAddress6">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Postal Address 6</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Address Line</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services, presented in free format text.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_EPC">
    <xs:complexContent>
      <xs:restriction base="PostalAddress6">
        <xs:sequence>
          <xs:element name="Ctry" type="CountryCode" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdrLine" type="Max70Text" maxOccurs="2">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
              <xs:documentation source="Usage Rule">Only two occurrences are allowed.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Referred Document Information 3</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify the documents referred to in the remittance information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Nb" type="Max35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of the referred document.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3_EPC">
    <xs:complexContent>
      <xs:restriction base="ReferredDocumentInformation3">
        <xs:sequence>
          <xs:element name="Nb" type="Max35Text" minOccurs="0">
            <xs:annotation>
              <xs:documentation source="Yellow Field"></xs:documentation>
              <xs:documentation source="Rulebook">AT-08 Identifier of the underlying Contract.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SequenceType2Code">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Sequence Type 2Code</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies whether a once off transaction is covered or whether recurring transactions are covered.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OOFF">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">OneOff</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction where the debtor's authorisation is used to initiate one single direct debit transaction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RCUR">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Recurring</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Direct debit instruction where the debtor's authorisation is used for regular direct debit transactions initiated by the creditor.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Service Level 8Choice</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies the service level of the transaction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code">
          <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a pre-agreed service or level of service between the parties, as published in an external service level code list.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_EPC">
    <xs:complexContent>
      <xs:restriction base="ServiceLevel8Choice">
        <xs:sequence>
          <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code_EPC">
              <xs:annotation>
                <xs:documentation source="Yellow Field"></xs:documentation>
                <xs:documentation source="Usage Rule">Mandatory</xs:documentation>
                <xs:documentation source="Rulebook">AT-20 Identification code of the Scheme.</xs:documentation>
                <xs:documentation source="Usage Rule">Only ‘SEPA’ is allowed.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
