xsd-t2/ASI/ssp.asi.ASTransferInitiation$pain.998.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:$pain.998.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:$pain.998.001.01" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountIdentification">
		<xs:sequence>
			<xs:element name="DmstAcct" type="SimpleIdentificationInformation">
				<xs:annotation>
					<xs:documentation>account number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentificationFIN">
		<xs:sequence>
			<xs:element name="DmstAcct" type="SimpleIdentificationInformationFIN">
				<xs:annotation>
					<xs:documentation>account number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditTransferTypeIdentification">
		<xs:sequence>
			<xs:element name="SttlmPrty" type="Settlement">
				<xs:annotation>
					<xs:documentation>settlement priority</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="pain.998.001.01" type="pain.998.001.01">
				<xs:annotation>
					<xs:documentation>free format</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentifciaton">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPaymentTransaction">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification">
				<xs:annotation>
					<xs:documentation>payment identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amt" type="InstructedAmount">
				<xs:annotation>
					<xs:documentation>instructed amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cdtr" type="PartyIdentification1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>creditor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtrAcct" type="AccountIdentificationFIN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>creditor account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FnlAgt" type="FinancialInstitutionIdentifciaton">
				<xs:annotation>
					<xs:documentation>final agent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FnlAgtAcct" type="AccountIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>final agent account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RmtInf" type="RemittanceInformation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>remittance information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupInformation">
		<xs:sequence>
			<xs:element name="GrpId" type="Max35Text">
				<xs:annotation>
					<xs:documentation>group identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDtTm" type="RestrictedISODateTime">
				<xs:annotation>
					<xs:documentation>creation date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtrlSum" type="ControlSum_ASI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>control sum</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>number of transactions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prty" type="PriorityCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>priority</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmMdlTp" type="SettlementModelType">
				<xs:annotation>
					<xs:documentation>settlement model type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SchdldTm" type="ScheduledTimeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>scheduled time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SttlmPrdTp" type="SettlementPeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>settlement period type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitgPty" type="PartyIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>initiating party</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CtpAS" type="PartyIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>counterpart AS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InstructedAmount">
		<xs:sequence>
			<xs:element name="InstAmt" type="ImpliedCurrencyAndAmount_ASI">
				<xs:annotation>
					<xs:documentation>amount in Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pain.998.001.01">
		<xs:sequence>
			<xs:element name="PrtryDt" type="ProprietaryData">
				<xs:annotation>
					<xs:documentation>proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification">
		<xs:sequence>
			<xs:element name="FI" type="FinancialInstitutionIdentifciaton">
				<xs:annotation>
					<xs:documentation>financial institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdentification1">
		<xs:sequence>
			<xs:element name="Nm" type="Max62FINCharacterText" minOccurs="0">
				<xs:annotation>
					<xs:documentation>name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FI" type="FinancialInstitutionIdentifciaton" minOccurs="0">
				<xs:annotation>
					<xs:documentation>financial institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification">
		<xs:sequence>
			<xs:element name="InstrId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation>instruction identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndToEndId" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation>end-to-end identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInformation">
		<xs:sequence>
			<xs:element name="ReqdExctnDt" type="RestrictedISODate">
				<xs:annotation>
					<xs:documentation>requested execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtTrfTpId" type="CreditTransferTypeIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>credit transfer type identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dbtr" type="PartyIdentification1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>debtor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DbtrAcct" type="AccountIdentificationFIN" minOccurs="0">
				<xs:annotation>
					<xs:documentation>debtor account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrstAgt" type="FinancialInstitutionIdentifciaton">
				<xs:annotation>
					<xs:documentation>first agent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FrstAgtAcct" type="AccountIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>first agent account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTx" type="GenericPaymentTransaction">
				<xs:annotation>
					<xs:documentation>payment transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentScheme">
		<xs:sequence>
			<xs:element name="Cd" type="CashClearingSystemCode">
				<xs:annotation>
					<xs:documentation>code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprietaryData">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text">
				<xs:annotation>
					<xs:documentation>always "ASTransferInitiation"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SspPrtryDt" type="SspProprietaryData">
				<xs:annotation>
					<xs:documentation>SSP proprietary data</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RemittanceInformation">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140FINCharacterText">
				<xs:annotation>
					<xs:documentation>unstructured</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ScheduledTimeType">
		<xs:sequence>
			<xs:element name="InfPrdTp" type="InformationPeriodTypeCode">
				<xs:annotation>
					<xs:documentation>information period type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="FrTm" type="ISOTime">
					<xs:annotation>
						<xs:documentation>from time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TmPrd" type="ISOTime">
					<xs:annotation>
						<xs:documentation>time period</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Settlement">
		<xs:sequence>
			<xs:element name="PmtSchme" type="PaymentScheme">
				<xs:annotation>
					<xs:documentation>payment scheme</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettlementPeriodType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ToTm" type="ISOTime">
					<xs:annotation>
						<xs:documentation>to time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TmPrd" type="ISOTime">
					<xs:annotation>
						<xs:documentation>time period</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformationFIN">
		<xs:sequence>
			<xs:element name="Id" type="Max35FINCharacterText"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SspProprietaryData">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupInformation">
				<xs:annotation>
					<xs:documentation>group header</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInf" type="PaymentInformation" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>payment information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CashClearingSystemCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CUO">
				<xs:annotation>
					<xs:documentation>current order</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CSP">
				<xs:annotation>
					<xs:documentation>connected SSP</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHA">
				<xs:annotation>
					<xs:documentation>connected home account</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COL">
				<xs:annotation>
					<xs:documentation>auto-collateral</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CDS">
				<xs:annotation>
					<xs:documentation>cross-DVP-settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STR">
				<xs:annotation>
					<xs:documentation>specific transactions</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SET">
				<xs:annotation>
					<xs:documentation>settlement</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REP">
				<xs:annotation>
					<xs:documentation>REPO countries</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ControlSum_ASI">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
			<xs:pattern value="\+?\d{1,16}(\.\d{0,2}0*)?|\+?\.\d{1,2}0*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FINCharacterSet">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([A-Z]|[a-z]|[0-9]|[/]|[\-]|[?]|[:]|[(]|[)]|[.]|[,]|[']|[+]|[{]|[}]|[&#10;]|[&#13;]|[ ])*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FINCharacterSet3">
		<xs:restriction base="xs:string">
			<xs:pattern value="(([A-Z]|[a-z]|[0-9]|[\-]|[?]|[:]|[(]|[)]|[.]|[,]|[']|[+]|[ ])*)">
				<xs:annotation>
					<xs:documentation>no slash, no CR LF, no curly brackets</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount_ASI">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="\+?\d{1,12}(\.\d{0,2}0*)?|\+?\.\d{1,2}0*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InformationPeriodTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INFO"/>
			<xs:enumeration value="AGRE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISOTime">
		<xs:restriction base="xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="Max140FINCharacterText">
		<xs:restriction base="FINCharacterSet">
			<xs:maxLength value="140"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:annotation>
			<xs:documentation>RestrictedFINXMax16Text</xs:documentation>
			<xs:documentation>Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X. That is, 0-9 a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35FINCharacterText">
		<xs:restriction base="FINCharacterSet">
			<xs:maxLength value="35"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max62FINCharacterText">
		<xs:restriction base="FINCharacterSet">
			<xs:maxLength value="62"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriorityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH">
				<xs:annotation>
					<xs:documentation>SSP highly urgent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedISODate">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4}\-[0-9]{1,2}\-[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedISODateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[0-9]{4}\-[0-9]{1,2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-5]{1}[0-9]{1}(.[0-9]{1,})?(([+|\-]{1}[0-9]{2}:[0-9]{2})|([Z]{1}))?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SettlementModelType">
		<xs:restriction base="xs:decimal">
			<xs:enumeration value="1000"/>
			<xs:enumeration value="2000"/>
			<xs:enumeration value="3000"/>
			<xs:enumeration value="4000"/>
			<xs:enumeration value="5000"/>
			<xs:enumeration value="6000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
