xsd/fxtr.038.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Feb 25 13:42:03, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:fxtr.038.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:fxtr.038.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalInformation5">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Inf" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AffirmStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ATCN"/>
            <xs:enumeration value="ATSC"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="MISM"/>
            <xs:enumeration value="MISE"/>
            <xs:enumeration value="NOTP"/>
            <xs:enumeration value="OUOR"/>
            <xs:enumeration value="OUOS"/>
            <xs:enumeration value="RECE"/>
            <xs:enumeration value="UNRE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FXTradConfStsAdvcAck" type="ForeignExchangeTradeConfirmationStatusAdviceAcknowledgementV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ForeignExchangeTradeConfirmationStatusAdviceAcknowledgementV01">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvcAckId" type="MessageIdentification1"/>
            <xs:element name="ReqId" type="MessageIdentification1"/>
            <xs:element name="TradDt" type="ISODate"/>
            <xs:element name="TradId" type="Max35Text"/>
            <xs:element name="TradgMd" type="TradingModeType1Code"/>
            <xs:element name="AffirmSts" type="AffirmStatus1Code"/>
            <xs:element name="ConfSts" type="TradeConfirmationStatus1Code"/>
            <xs:element name="MktId" type="MarketIdentification88"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="AdditionalInformation5"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketIdentification1Choice">
        <xs:choice>
            <xs:element name="MktIdrCd" type="MICIdentifier"/>
            <xs:element name="Desc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="MarketIdentification88">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="MarketIdentification1Choice"/>
            <xs:element name="Tp" type="MarketType13Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MarketType13Choice">
        <xs:choice>
            <xs:element name="Cd" type="MarketType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MarketType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COUN"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="OTCO"/>
            <xs:enumeration value="PRIM"/>
            <xs:enumeration value="SECM"/>
            <xs:enumeration value="EXCH"/>
            <xs:enumeration value="VARI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradeConfirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALST"/>
            <xs:enumeration value="CONF"/>
            <xs:enumeration value="DISA"/>
            <xs:enumeration value="EMCN"/>
            <xs:enumeration value="MISM"/>
            <xs:enumeration value="SCCN"/>
            <xs:enumeration value="SNCC"/>
            <xs:enumeration value="SNCN"/>
            <xs:enumeration value="UNCN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingModeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QUDR"/>
            <xs:enumeration value="ORDR"/>
            <xs:enumeration value="NETR"/>
            <xs:enumeration value="AUCT"/>
            <xs:enumeration value="MARC"/>
            <xs:enumeration value="BILA"/>
            <xs:enumeration value="ANON"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
