xsd/seev.004.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 10 17:51:53, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.004.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.004.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AttendanceCard2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncCardLbllg" type="Max105Text"/>
            <xs:element name="DlvryMtd" type="DeliveryPlace1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrAdr" type="NameAndAddress9"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DeliveryPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMPL"/>
            <xs:enumeration value="INDI"/>
            <xs:enumeration value="ENTR"/>
            <xs:enumeration value="OADR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgInstr" type="MeetingInstructionV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance8">
        <xs:sequence>
            <xs:element name="Bal" type="UnitOrFaceAmountOrCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndividualPerson26">
        <xs:sequence>
            <xs:element name="BirthNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PersonIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification40Choice"/>
            <xs:element name="AttndncCardDtls" type="AttendanceCard2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Instruction3">
        <xs:sequence>
            <xs:element name="InstrId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdExctnDt" type="ISODateTime"/>
            <xs:element name="VoteExctnConf" type="YesNoIndicator"/>
            <xs:element name="AcctDtls" type="SafekeepingAccount6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prxy" type="Proxy6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteDtls" type="VoteDetails3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MtgAttndee" type="IndividualPerson26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SpcfcInstrReq" type="SpecificInstructionRequest1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress2Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max350Text"/>
            <xs:element name="Strd" type="PostalAddress1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingInstructionV05">
        <xs:sequence>
            <xs:element name="MtgRef" type="MeetingReference7"/>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Instr" type="Instruction3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingReference7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="MtgDtAndTm" type="ISODateTime"/>
            <xs:element name="Tp" type="MeetingType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Lctn" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
            <xs:enumeration value="BMET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="VRHI"/>
            <xs:enumeration value="CORT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress9">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification40Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element name="PrsnIdTp" type="PersonIdentificationType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationType1Choice">
        <xs:choice>
            <xs:element name="PsptNb" type="Max35Text"/>
            <xs:element name="TaxIdNb" type="Max35Text"/>
            <xs:element name="SclSctyNb" type="Max35Text"/>
            <xs:element name="MplyrIdNb" type="Max35Text"/>
            <xs:element name="DrvrsLicNb" type="Max35Text"/>
            <xs:element name="AlnRegnNb" type="Max35Text"/>
            <xs:element name="IdntyCardNb" type="Max35Text"/>
            <xs:element name="OthrId" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Proxy6">
        <xs:sequence>
            <xs:element name="PrxyTp" type="ProxyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrsnDtls" type="IndividualPerson26"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteInstrForAgndRsltn" type="Vote3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProxyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="HLDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Quantity1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QALL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingAccount6">
        <xs:sequence>
            <xs:element name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcctDtls" type="SubAccount2"/>
            <xs:element maxOccurs="10" minOccurs="1" name="InstdBal" type="HoldingBalance8"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RghtsHldr" type="PartyIdentification40Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText2"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification21"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SpecificInstructionRequest1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtcptnRegn" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BlckgScties" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesRegn" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubAccount2">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmountOrCode1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Cd" type="Quantity1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Vote3Choice">
        <xs:choice>
            <xs:element maxOccurs="1000" minOccurs="1" name="VoteInstr" type="Vote8"/>
            <xs:element maxOccurs="1000" minOccurs="1" name="GblVoteInstr" type="Vote9"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Vote8">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="For" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Agnst" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Abstn" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wthhld" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="WthMgmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgnstMgmt" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dscrtnry" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OneYr" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwoYrs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ThreeYrs" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NoActn" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Vote9">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element name="VoteOptn" type="VoteInstruction3Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteDetails3">
        <xs:sequence>
            <xs:element name="VoteInstrForAgndRsltn" type="Vote3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteInstrForMtgRsltn" type="VoteInstructionForMeetingResolution2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VoteInstruction3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
            <xs:enumeration value="ONEY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="TWOY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstruction4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
            <xs:enumeration value="TWOY"/>
            <xs:enumeration value="THRY"/>
            <xs:enumeration value="ONEY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteInstructionForMeetingResolution2Choice">
        <xs:choice>
            <xs:element name="VoteIndctn" type="VoteInstruction4Code"/>
            <xs:element name="Shrhldr" type="NameAndAddress9"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
