xsd/seev.001.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Feb 10 17:51:51, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:seev.001.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:seev.001.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AdditionalRight1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WQPS"/>
            <xs:enumeration value="RSPS"/>
            <xs:enumeration value="AIPS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdditionalRightCode1Choice">
        <xs:choice>
            <xs:element name="Cd" type="AdditionalRight1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalRightThreshold1Choice">
        <xs:choice>
            <xs:element name="AddtlRghtThrshld" type="Max35Text"/>
            <xs:element name="AddtlRghtThrshldPctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AdditionalRights2">
        <xs:sequence>
            <xs:element name="AddtlRght" type="AdditionalRightCode1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtInfURLAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRghtThrshld" type="AdditionalRightThreshold1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AgentRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="SUBA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmendInformation1">
        <xs:sequence>
            <xs:element name="PrvsRef" type="MessageIdentification"/>
            <xs:element name="RcnfrmInstrs" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CommunicationAddress4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactIdentification1">
        <xs:sequence>
            <xs:element name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CorporateEventNarrative2">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Dsclmr" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat1">
        <xs:sequence>
            <xs:element name="Dt" type="DateFormat3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtMd" type="DateMode1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateFormat29Choice">
        <xs:choice>
            <xs:element name="DtOrDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="DtCd" type="DateType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateFormat3Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtCd" type="DateType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="DateMode1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BODY"/>
            <xs:enumeration value="EODY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="MtgNtfctn" type="MeetingNotificationV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligiblePosition5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="10" minOccurs="0" name="HldgBal" type="HoldingBalance7"/>
            <xs:element maxOccurs="10" minOccurs="0" name="RghtsHldr" type="PartyIdentification40Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Entitlement1Choice">
        <xs:choice>
            <xs:element name="EntitlmntRatio" type="DecimalNumber"/>
            <xs:element name="EntitlmntDesc" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="EntitlementAssessment3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBlckgDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBlckgSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBlckgMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesBlckgPrdEndDt" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitlmntFxgDt" type="DateFormat1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnSctiesDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnSctiesSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnSctiesMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnPrtcptnDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnPrtcptnSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnPrtcptnMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Entitlmnt" type="Entitlement1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification13">
        <xs:sequence>
            <xs:element name="Id" type="Max4AlphaNumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification21">
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HoldingBalance7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTp" type="SecuritiesEntryType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgPlc" type="SafekeepingPlaceFormat2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IncentivePremium3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max350Text"/>
            <xs:element name="Amt" type="PriceRateOrAmountChoice"/>
            <xs:element name="Tp" type="IncentivePremiumType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtDt" type="DateFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IncentivePremiumType1Choice">
        <xs:choice>
            <xs:element name="PerScty" type="Number"/>
            <xs:element name="PerVote" type="Number"/>
            <xs:element name="PerAttndee" type="YesNoIndicator"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IndividualPerson25">
        <xs:sequence>
            <xs:element name="BirthNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GvnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PersonIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="LongPostalAddress2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification40Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerAgent2">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="AgentRole1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IssuerInformation2">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URLAdr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocationFormat1Choice">
        <xs:choice>
            <xs:element name="Adr" type="PostalAddress1"/>
            <xs:element name="LctnCd" type="PlaceType1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="LongPostalAddress2Choice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max350Text"/>
            <xs:element name="Strd" type="PostalAddress1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max1025Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1025"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Meeting4">
        <xs:sequence>
            <xs:element name="DtAndTm" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtSts" type="MeetingDateStatus1Code"/>
            <xs:element name="QrmReqrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="5" minOccurs="1" name="Lctn" type="LocationFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QrmQty" type="QuorumQuantity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingContactPerson2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctPrsn" type="ContactIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmplngPty" type="PartyIdentification40Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfListg" type="MICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingDateStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TNTA"/>
            <xs:enumeration value="CNFR"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="NOQO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingNotice4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrMtgId" type="Max35Text"/>
            <xs:element name="Tp" type="MeetingType3Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="MeetingTypeClassification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AnncmntDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncReqrd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncConfInf" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncConfDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncConfSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AttndncConfMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlDcmnttnURLAdr" type="Max256Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlPrcdrDtls" type="AdditionalRights2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfSctiesOutsdng" type="UnitOrFaceAmount1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlNbOfVtngRghts" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrxyAppntmntNtfctnAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrxyChc" type="Proxy2Choice"/>
            <xs:element maxOccurs="12" minOccurs="0" name="CtctPrsnDtls" type="MeetingContactPerson2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsltPblctnDt" type="DateFormat3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MeetingNotificationV05">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amdmnt" type="AmendInformation1"/>
            <xs:element name="NtfctnSts" type="NotificationStatus2"/>
            <xs:element name="Mtg" type="MeetingNotice4"/>
            <xs:element maxOccurs="5" minOccurs="1" name="MtgDtls" type="Meeting4"/>
            <xs:element name="Issr" type="IssuerInformation2"/>
            <xs:element maxOccurs="10" minOccurs="0" name="IssrAgt" type="IssuerAgent2"/>
            <xs:element maxOccurs="200" minOccurs="1" name="Scty" type="SecurityPosition8"/>
            <xs:element maxOccurs="1000" minOccurs="0" name="Rsltn" type="Resolution3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vote" type="VoteParameters4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EntitlmntSpcfctn" type="EntitlementAssessment3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PwrOfAttnyRqrmnts" type="PowerOfAttorneyRequirements3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="CorporateEventNarrative2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MeetingType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XMET"/>
            <xs:enumeration value="GMET"/>
            <xs:enumeration value="MIXD"/>
            <xs:enumeration value="SPCL"/>
            <xs:enumeration value="BMET"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MeetingTypeClassification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="MeetingTypeClassification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification13"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="MeetingTypeClassification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMET"/>
            <xs:enumeration value="OMET"/>
            <xs:enumeration value="CLAS"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="VRHI"/>
            <xs:enumeration value="CORT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NotificationStatus2">
        <xs:sequence>
            <xs:element name="Sts" type="NotificationStatus2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NotificationStatus2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ECON"/>
            <xs:enumeration value="EUNC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification40Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification19"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
            <xs:element name="PrsnIdTp" type="PersonIdentificationType1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationType1Choice">
        <xs:choice>
            <xs:element name="PsptNb" type="Max35Text"/>
            <xs:element name="TaxIdNb" type="Max35Text"/>
            <xs:element name="SclSctyNb" type="Max35Text"/>
            <xs:element name="MplyrIdNb" type="Max35Text"/>
            <xs:element name="DrvrsLicNb" type="Max35Text"/>
            <xs:element name="AlnRegnNb" type="Max35Text"/>
            <xs:element name="IdntyCardNb" type="Max35Text"/>
            <xs:element name="OthrId" type="GenericIdentification4"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlaceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UKWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PowerOfAttorneyLegalisation1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NOTA"/>
            <xs:enumeration value="LOCA"/>
            <xs:enumeration value="APOS"/>
            <xs:enumeration value="COUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PowerOfAttorneyRequirements3">
        <xs:sequence>
            <xs:element maxOccurs="4" minOccurs="0" name="LglRqrmnt" type="PowerOfAttorneyLegalisation1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrDcmnttn" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocSubmissnDdln" type="DateFormat29Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Proxy2Choice">
        <xs:choice>
            <xs:element name="Prxy" type="ProxyAppointmentInformation3"/>
            <xs:element name="PrxyNotAllwd" type="ProxyNotAllowedCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Proxy5">
        <xs:sequence>
            <xs:element maxOccurs="2" minOccurs="1" name="PrxyTp" type="ProxyType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrssgndPrxy" type="IndividualPerson25"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProxyAppointmentInformation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnMtd" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ddln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="STPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="10" minOccurs="0" name="AuthrsdPrxy" type="Proxy5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProxyNotAllowedCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProxyType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHRM"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="HLDR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuorumQuantity1Choice">
        <xs:choice>
            <xs:element name="QrmQty" type="Max35Text"/>
            <xs:element name="QrmQtyPctg" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Resolution3">
        <xs:sequence>
            <xs:element name="IssrLabl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max1025Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Titl" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="ResolutionType2Code"/>
            <xs:element name="ForInfOnly" type="YesNoIndicator"/>
            <xs:element name="Sts" type="ResolutionStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmittdBySctyHldr" type="YesNoIndicator"/>
            <xs:element maxOccurs="8" minOccurs="0" name="VoteInstrTp" type="VoteInstruction2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MgmtRcmmndtn" type="VoteInstruction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtifngPtyRcmmndtn" type="VoteInstruction1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Entitlmnt" type="Entitlement1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ResolutionStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="WDRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ResolutionType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EXTR"/>
            <xs:enumeration value="SPCL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CUST"/>
            <xs:enumeration value="ICSD"/>
            <xs:enumeration value="NCSD"/>
            <xs:enumeration value="SHHE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SafekeepingPlace2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHHE"/>
            <xs:enumeration value="ALLP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SafekeepingPlaceFormat2Choice">
        <xs:choice>
            <xs:element name="Id" type="SafekeepingPlaceTypeAndText2"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="TpAndId" type="SafekeepingPlaceTypeAndAnyBICIdentifier1"/>
            <xs:element name="Prtry" type="GenericIdentification21"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndAnyBICIdentifier1">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace1Code"/>
            <xs:element name="Id" type="AnyBICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SafekeepingPlaceTypeAndText2">
        <xs:sequence>
            <xs:element name="SfkpgPlcTp" type="SafekeepingPlace2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesEntryType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOK"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PEND"/>
            <xs:enumeration value="PENR"/>
            <xs:enumeration value="NOMI"/>
            <xs:enumeration value="SETD"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SPOS"/>
            <xs:enumeration value="TRAD"/>
            <xs:enumeration value="COLI"/>
            <xs:enumeration value="COLO"/>
            <xs:enumeration value="UNBA"/>
            <xs:enumeration value="INBA"/>
            <xs:enumeration value="REGO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityPosition8">
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1000" minOccurs="0" name="Pos" type="EligiblePosition5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnitOrFaceAmount1Choice">
        <xs:choice>
            <xs:element name="Unit" type="DecimalNumber"/>
            <xs:element name="FaceAmt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="VoteInstruction1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="NOAC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VoteInstruction2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CFOR"/>
            <xs:enumeration value="CAGS"/>
            <xs:enumeration value="ABST"/>
            <xs:enumeration value="WTHH"/>
            <xs:enumeration value="WMGT"/>
            <xs:enumeration value="AMGT"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="DISC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="VoteMethods2">
        <xs:sequence>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteThrghNtwk" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteByMail" type="PostalAddress1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="ElctrncVote" type="CommunicationAddress4"/>
            <xs:element maxOccurs="5" minOccurs="0" name="VoteByTel" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VoteParameters4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesQtyReqrdToVote" type="DecimalNumber"/>
            <xs:element name="PrtlVoteAllwd" type="YesNoIndicator"/>
            <xs:element name="SpltVoteAllwd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteMthds" type="VoteMethods2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngBlltElctrncAdr" type="CommunicationAddress4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VtngBlltReqAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltySTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RvcbltyMktDdln" type="DateFormat29Choice"/>
            <xs:element name="BnfclOwnrDsclsr" type="YesNoIndicator"/>
            <xs:element maxOccurs="8" minOccurs="0" name="VoteInstrTp" type="VoteInstruction2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyIncntivPrm" type="IncentivePremium3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncntivPrm" type="IncentivePremium3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlyVoteWthPrmDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteWthPrmDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteWthPrmSTPDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VoteWthPrmMktDdln" type="DateFormat29Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlVtngRqrmnts" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsInstrInvldtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
