xsd/semt.024.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:33:57, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.024.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.024.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection30">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection31">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtLngInd" type="ShortLong1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndRate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceDetails5">
        <xs:sequence>
            <xs:element name="Tp" type="BalanceType6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Urlsd" type="Unrealised1Code"/>
            <xs:element name="Amt" type="AmountAndDirection31"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DtldBal" type="BalanceDetails6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceDetails6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctgy" type="FinancialAssetTypeCategory1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="BalanceType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Urlsd" type="Unrealised1Code"/>
            <xs:element name="Amt" type="AmountAndDirection31"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BalanceType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="CASE"/>
            <xs:enumeration value="BORR"/>
            <xs:enumeration value="REVE"/>
            <xs:enumeration value="EXPN"/>
            <xs:enumeration value="IIOF"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PAYA"/>
            <xs:enumeration value="RECE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceType6Choice">
        <xs:choice>
            <xs:element name="Cd" type="BalanceType13Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="BalanceType7Choice">
        <xs:choice>
            <xs:element name="Cd" type="FinancialAssetBalanceType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
            <xs:element name="Acct" type="AccountIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate"/>
            <xs:element name="ToDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TtlPrtflValtnRpt" type="TotalPortfolioValuationReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="SEMI"/>
            <xs:enumeration value="QUTR"/>
            <xs:enumeration value="TOMN"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="TWMN"/>
            <xs:enumeration value="TOWK"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="OVNG"/>
            <xs:enumeration value="ONDE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialAssetBalanceType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACRU"/>
            <xs:enumeration value="OINT"/>
            <xs:enumeration value="SCAS"/>
            <xs:enumeration value="FXTR"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="TIPS"/>
            <xs:enumeration value="EQUI"/>
            <xs:enumeration value="CSTK"/>
            <xs:enumeration value="PREF"/>
            <xs:enumeration value="MFUN"/>
            <xs:enumeration value="XFUN"/>
            <xs:enumeration value="RGHT"/>
            <xs:enumeration value="WARR"/>
            <xs:enumeration value="BOND"/>
            <xs:enumeration value="CONV"/>
            <xs:enumeration value="CBND"/>
            <xs:enumeration value="GBND"/>
            <xs:enumeration value="OPTN"/>
            <xs:enumeration value="FUTR"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="CUEX"/>
            <xs:enumeration value="FOIV"/>
            <xs:enumeration value="GOLD"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="BAAP"/>
            <xs:enumeration value="SYBL"/>
            <xs:enumeration value="CBOO"/>
            <xs:enumeration value="CEOD"/>
            <xs:enumeration value="CDEO"/>
            <xs:enumeration value="CLOB"/>
            <xs:enumeration value="CMOO"/>
            <xs:enumeration value="COPR"/>
            <xs:enumeration value="CPPE"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="FEAD"/>
            <xs:enumeration value="FEHA"/>
            <xs:enumeration value="FEHL"/>
            <xs:enumeration value="FNMA"/>
            <xs:enumeration value="FLNO"/>
            <xs:enumeration value="GNMA"/>
            <xs:enumeration value="TAAB"/>
            <xs:enumeration value="IETM"/>
            <xs:enumeration value="MPRP"/>
            <xs:enumeration value="MBON"/>
            <xs:enumeration value="SLMA"/>
            <xs:enumeration value="STIF"/>
            <xs:enumeration value="TSTP"/>
            <xs:enumeration value="TIDE"/>
            <xs:enumeration value="UNBW"/>
            <xs:enumeration value="UNBO"/>
            <xs:enumeration value="VRDN"/>
            <xs:enumeration value="ZOOO"/>
            <xs:enumeration value="FWBO"/>
            <xs:enumeration value="FRAG"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="XREP"/>
            <xs:enumeration value="TREP"/>
            <xs:enumeration value="RXRP"/>
            <xs:enumeration value="FXFD"/>
            <xs:enumeration value="FXSP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FinancialAssetTypeCategory1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EQTY"/>
            <xs:enumeration value="DEBT"/>
            <xs:enumeration value="ENTL"/>
            <xs:enumeration value="DERV"/>
            <xs:enumeration value="MMKT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Frequency8Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestmentFund1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification14"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlUnitsOutsdng" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxnlUnits" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlVal" type="AmountAndDirection30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pric" type="PriceInformation10"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PortfolioBalance1">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SummryBal" type="BalanceDetails5"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="DtldBal" type="BalanceDetails6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PriceAndDirection1">
        <xs:sequence>
            <xs:element name="Val" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceInformation10">
        <xs:sequence>
            <xs:element name="CurPric" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element name="Tp" type="TypeOfPrice27Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsPric" type="ActiveOrHistoricCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtOfChng" type="PriceValueAndRate4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriceValueAndRate4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Val" type="PriceAndDirection1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Report4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="Max35Text"/>
            <xs:element name="RptDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsRptDtTm" type="DateAndDateTimeChoice"/>
            <xs:element name="Frqcy" type="Frequency8Choice"/>
            <xs:element name="UpdTp" type="UpdateType4Choice"/>
            <xs:element name="RptBsis" type="StatementBasis6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptPrd" type="DatePeriodDetails"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptSrc" type="StatementSource1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AudtdInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ActvtyInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount21">
        <xs:sequence>
            <xs:element name="Acct" type="AccountIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubAcct" type="AccountIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BaseCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptgCcy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FXRate" type="BaseOneRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="LONG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatementBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONT"/>
            <xs:enumeration value="SETT"/>
            <xs:enumeration value="TRAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementBasis6Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementBasis1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StatementSource1Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementSource1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="StatementSource1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="CUST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalPortfolioValuation1">
        <xs:sequence>
            <xs:element name="TtlPrtflVal" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlPrtflVal" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlPrtflValChng" type="AmountAndRate2"/>
            <xs:element name="TtlBookVal" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvsTtlBookVal" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlBookValChng" type="AmountAndRate2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlRcts" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlDsbrsmnts" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IncmRcvd" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExpnssPd" type="AmountAndDirection30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UrlsdGnOrLoss" type="AmountAndDirection31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RealsdGnOrLoss" type="AmountAndDirection31"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AcrdIncm" type="AmountAndDirection30"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InvstmtFndDtls" type="InvestmentFund1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TotalPortfolioValuationReportV01">
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination"/>
            <xs:element name="RptGnlDtls" type="Report4"/>
            <xs:element name="AcctDtls" type="SecuritiesAccount21"/>
            <xs:element name="TtlPrtflValtn" type="TotalPortfolioValuation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Bal" type="PortfolioBalance1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TypeOfPrice27Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfPrice30Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfPrice30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIDE"/>
            <xs:enumeration value="OFFR"/>
            <xs:enumeration value="NAVL"/>
            <xs:enumeration value="CREA"/>
            <xs:enumeration value="CANC"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="SWNG"/>
            <xs:enumeration value="MIDD"/>
            <xs:enumeration value="RINV"/>
            <xs:enumeration value="SWIC"/>
            <xs:enumeration value="DDVR"/>
            <xs:enumeration value="ACTU"/>
            <xs:enumeration value="NAUP"/>
            <xs:enumeration value="GUAR"/>
            <xs:enumeration value="ENAV"/>
            <xs:enumeration value="REDN"/>
            <xs:enumeration value="SUBN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Unrealised1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GAIN"/>
            <xs:enumeration value="LOSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UpdateType4Choice">
        <xs:choice>
            <xs:element name="Cd" type="StatementUpdateType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
