xsd/semt.023.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:33:17, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.023.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.023.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlternatePartyIdentification5">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType40Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccountIdentification2Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="Prtry" type="Max34Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ConfirmationParties2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brrwr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lndr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrkrOfCdt" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrdcgFirm" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StepInFirm" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StepOutFirm" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrFirm" type="ConfirmationPartyDetails5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctgBrkr" type="ConfirmationPartyDetails5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CMUPty" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CMUCtrPty" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AffrmgPty" type="ConfirmationPartyDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradBnfcryPty" type="ConfirmationPartyDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails1">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails2">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCpcty" type="InvestorCapacity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPtyCpcty" type="TradingPartyCapacity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails3">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshDtls" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails5">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrPrtcnAssoctnMmbsh" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTime1Choice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesEndOfPrcRpt" type="SecuritiesEndOfProcessReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EventFrequency4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="YEAR"/>
            <xs:enumeration value="ADHO"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="DAIL"/>
            <xs:enumeration value="INDA"/>
            <xs:enumeration value="WEEK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Frequency4Choice">
        <xs:choice>
            <xs:element name="Cd" type="EventFrequency4Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification7">
        <xs:sequence>
            <xs:element name="Issr" type="Max8Text"/>
            <xs:element name="Inf" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationType40Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestorCapacity3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Eligibility1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max8Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress13">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification32Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount79">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshAcct" type="CashAccountIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurposeCode5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesAccountPurposeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="QueryReference">
        <xs:sequence>
            <xs:element name="QryRef" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Report3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNb" type="Max5NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="QueryReference"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="Max35Text"/>
            <xs:element name="RptDtTm" type="DateAndDateTime1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UpdTp" type="StatementUpdateTypeCodeAndDSSCodeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtceTp" type="GenericIdentification38"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PurposeCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesAccountPurposeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="CEND"/>
            <xs:enumeration value="DVPA"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesEndOfProcessReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Pgntn" type="Pagination"/>
            <xs:element name="RptGnlDtls" type="Report3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ConfPties" type="ConfirmationParties2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Invstr" type="PartyIdentificationAndAccount79"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateTypeCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="DELT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementUpdateTypeCodeAndDSSCodeChoice">
        <xs:choice>
            <xs:element name="StmtUpdTpAsCd" type="StatementUpdateTypeCode"/>
            <xs:element name="StmtUpdTpAsDSS" type="GenericIdentification7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="RISP"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="INFI"/>
            <xs:enumeration value="MKTM"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="SINT"/>
            <xs:enumeration value="TAGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingCapacity6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingPartyCapacity1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity4Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingPartyCapacity2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity6Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
