xsd/semt.042.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.6) on 2016 Mar 29 15:12:41, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.042.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.042.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesBalTrnsprncyRptStsAdvc" type="SecuritiesBalanceTransparencyReportStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstrumentIdentificationType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification30">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification36">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="HoldingAccountLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="LVL1"/>
            <xs:enumeration value="LVL2"/>
            <xs:enumeration value="LVL3"/>
            <xs:enumeration value="LVL4"/>
            <xs:enumeration value="LVL5"/>
            <xs:enumeration value="LVL6"/>
            <xs:enumeration value="LVL7"/>
            <xs:enumeration value="LVL8"/>
            <xs:enumeration value="LVL9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HoldingRejectionReason41Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INPR"/>
            <xs:enumeration value="INID"/>
            <xs:enumeration value="AGIN"/>
            <xs:enumeration value="INTE"/>
            <xs:enumeration value="CERT"/>
            <xs:enumeration value="BPAR"/>
            <xs:enumeration value="BREF"/>
            <xs:enumeration value="DADR"/>
            <xs:enumeration value="DCUS"/>
            <xs:enumeration value="IACT"/>
            <xs:enumeration value="INVA"/>
            <xs:enumeration value="INDT"/>
            <xs:enumeration value="OPTI"/>
            <xs:enumeration value="OPTY"/>
            <xs:enumeration value="INMO"/>
            <xs:enumeration value="INVM"/>
            <xs:enumeration value="INUS"/>
            <xs:enumeration value="DSEC"/>
            <xs:enumeration value="ENDP"/>
            <xs:enumeration value="STAR"/>
            <xs:enumeration value="SECO"/>
            <xs:enumeration value="NOHO"/>
            <xs:enumeration value="NINS"/>
            <xs:enumeration value="NOAP"/>
            <xs:enumeration value="NAUT"/>
            <xs:enumeration value="AGID"/>
            <xs:enumeration value="DISP"/>
            <xs:enumeration value="CORR"/>
            <xs:enumeration value="INPS"/>
            <xs:enumeration value="PLCE"/>
            <xs:enumeration value="PRIC"/>
            <xs:enumeration value="IVAG"/>
            <xs:enumeration value="QUNP"/>
            <xs:enumeration value="DQUA"/>
            <xs:enumeration value="EQTY"/>
            <xs:enumeration value="DEPT"/>
            <xs:enumeration value="RCUS"/>
            <xs:enumeration value="SAFE"/>
            <xs:enumeration value="DMON"/>
            <xs:enumeration value="NCRR"/>
            <xs:enumeration value="TQNP"/>
            <xs:enumeration value="SETR"/>
            <xs:enumeration value="UKWN"/>
            <xs:enumeration value="DDEA"/>
            <xs:enumeration value="TERM"/>
            <xs:enumeration value="ULNK"/>
            <xs:enumeration value="NARR"/>
            <xs:enumeration value="NRGN"/>
            <xs:enumeration value="INVB"/>
            <xs:enumeration value="ADEA"/>
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="COMC"/>
            <xs:enumeration value="CONL"/>
            <xs:enumeration value="INHO"/>
            <xs:enumeration value="ICOL"/>
            <xs:enumeration value="INVE"/>
            <xs:enumeration value="INVN"/>
            <xs:enumeration value="INVL"/>
            <xs:enumeration value="VALR"/>
            <xs:enumeration value="INUK"/>
            <xs:enumeration value="LATT"/>
            <xs:enumeration value="MINO"/>
            <xs:enumeration value="BOIS"/>
            <xs:enumeration value="MCER"/>
            <xs:enumeration value="IPOA"/>
            <xs:enumeration value="MUNO"/>
            <xs:enumeration value="INNA"/>
            <xs:enumeration value="NINV"/>
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="PERI"/>
            <xs:enumeration value="REFE"/>
            <xs:enumeration value="SAID"/>
            <xs:enumeration value="OWNT"/>
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IdentificationSource3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstrumentIdentificationType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NumberOfItemsPerStatus1">
        <xs:sequence>
            <xs:element name="Sts" type="ReportItemStatus1Code"/>
            <xs:element name="NbOfItms" type="Max15NumericText"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sfx" type="Max16Text"/>
            <xs:element name="Tp" type="IdentificationSource3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText"/>
            <xs:element name="LastPgInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification100">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification71Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LEI" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:choice>
            <xs:element name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification36"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItem1">
        <xs:sequence>
            <xs:element name="AcctId" type="SecuritiesAccount19"/>
            <xs:element name="AcctLvl" type="HoldingAccountLevel1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification19"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItemRejectionReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="HoldingRejectionReason41Code"/>
            <xs:element name="Prtry" type="GenericIdentification30"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ReportItemStatus1">
        <xs:sequence>
            <xs:element name="Xcptn" type="ReportItemRejectionReason1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RptItm" type="ReportItem1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportItemStatus1Choice">
        <xs:choice>
            <xs:element name="Accptd" type="NoReasonCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AccptdWthXcptn" type="ReportItemStatus1"/>
            <xs:element name="Rjctd" type="ReportItemStatus1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ReportItemStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACPD"/>
            <xs:enumeration value="REJT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount19">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="GenericIdentification30"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalanceTransparencyReportStatusAdviceV01">
        <xs:sequence>
            <xs:element name="MsgId" type="MessageIdentification1"/>
            <xs:element name="SndrId" type="PartyIdentification100"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvrId" type="PartyIdentification100"/>
            <xs:element name="RltdStmt" type="StatementReference1"/>
            <xs:element name="Sts" type="ReportItemStatus1Choice"/>
            <xs:element maxOccurs="2" minOccurs="0" name="NbOfItmsPerSts" type="NumberOfItemsPerStatus1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrId" type="OtherIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatementReference1">
        <xs:sequence>
            <xs:element name="StmtId" type="Max35Text"/>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pgntn" type="Pagination"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
