xsd/setr.030.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 10:52:41, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:setr.030.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:setr.030.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AffirmationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFFI"/>
            <xs:enumeration value="NAFI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AffirmationStatus7Choice">
        <xs:choice>
            <xs:element name="Cd" type="AffirmationStatus1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AlternatePartyIdentification5">
        <xs:sequence>
            <xs:element name="IdTp" type="IdentificationType40Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
            <xs:element name="AltrnId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Clearing3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="ClrMmb" type="PartyIdentificationAndAccount78"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSgmt" type="PartyIdentification35Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ClearingAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HOUS"/>
            <xs:enumeration value="CLIE"/>
            <xs:enumeration value="LIPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ClearingSide1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BUYI"/>
            <xs:enumeration value="SELL"/>
            <xs:enumeration value="LEND"/>
            <xs:enumeration value="BORW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ConfirmationParties3">
        <xs:sequence>
            <xs:element name="AffrmgPty" type="ConfirmationPartyDetails4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brrwr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Lndr" type="ConfirmationPartyDetails2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradBnfcryPty" type="ConfirmationPartyDetails3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails2">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCpcty" type="InvestorCapacity3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgPtyCpcty" type="TradingPartyCapacity1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails3">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshDtls" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCpcty" type="TradingPartyCapacity2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfirmationPartyDetails4">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CshDtls" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTradConfRspn" type="SecuritiesTradeConfirmationResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber4Choice">
        <xs:choice>
            <xs:element name="ShrtNb" type="Exact3NumericText"/>
            <xs:element name="LngNb" type="ISO20022MessageIdentificationText"/>
            <xs:element name="PrtryNb" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Eligibility1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELIG"/>
            <xs:enumeration value="RETL"/>
            <xs:enumeration value="PROF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact3NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification29">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification38">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IdentificationReference8Choice">
        <xs:choice>
            <xs:element name="InstgPtyTxId" type="Max35Text"/>
            <xs:element name="ExctgPtyTxId" type="Max35Text"/>
            <xs:element name="MktInfrstrctrTxId" type="Max35Text"/>
            <xs:element name="ClntOrdrLkId" type="Max35Text"/>
            <xs:element name="PoolId" type="Max35Text"/>
            <xs:element name="BlckId" type="Max35Text"/>
            <xs:element name="AllcnId" type="Max35Text"/>
            <xs:element name="IndvAllcnId" type="Max35Text"/>
            <xs:element name="ScndryAllcnId" type="Max35Text"/>
            <xs:element name="IndxId" type="Max35Text"/>
            <xs:element name="CmonId" type="Max35Text"/>
            <xs:element name="CmplcId" type="Max35Text"/>
            <xs:element name="CollTxId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="IdentificationType40Choice">
        <xs:choice>
            <xs:element name="Cd" type="TypeOfIdentification2Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InvestorCapacity3Choice">
        <xs:choice>
            <xs:element name="Cd" type="Eligibility1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Linkages15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber4Choice"/>
            <xs:element name="Ref" type="IdentificationReference8Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max210Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress13">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress8"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification32Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
            <xs:element name="NmAndAdr" type="NameAndAddress13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification35Choice">
        <xs:choice>
            <xs:element name="BIC" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount78">
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification32Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AltrnId" type="AlternatePartyIdentification5"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sd" type="ClearingSide1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrAcct" type="SecuritiesAccount20"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="PartyTextInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnDtls" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyTextInformation5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DclrtnDtls" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyCtctDtls" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PurposeCode5Choice">
        <xs:choice>
            <xs:element name="Cd" type="SecuritiesAccountPurposeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount20">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="ClearingAccountType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccount3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PurposeCode5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesAccountPurposeType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MARG"/>
            <xs:enumeration value="SHOR"/>
            <xs:enumeration value="ABRD"/>
            <xs:enumeration value="CEND"/>
            <xs:enumeration value="DVPA"/>
            <xs:enumeration value="PHYS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesTradeConfirmationResponseV01">
        <xs:sequence>
            <xs:element name="Id" type="TransactiontIdentification4"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Refs" type="Linkages15"/>
            <xs:element name="Sts" type="StatusAndReason10"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDtls" type="Clearing3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ConfPties" type="ConfirmationParties3"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusAndReason10">
        <xs:sequence>
            <xs:element name="AffirmSts" type="AffirmationStatus7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UaffrmdRsn" type="UnaffirmedReason2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="Max210Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TradingCapacity4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="RISP"/>
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="INFI"/>
            <xs:enumeration value="MKTM"/>
            <xs:enumeration value="MLTF"/>
            <xs:enumeration value="RMKT"/>
            <xs:enumeration value="SINT"/>
            <xs:enumeration value="TAGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TradingCapacity6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGEN"/>
            <xs:enumeration value="BAGN"/>
            <xs:enumeration value="CAGN"/>
            <xs:enumeration value="CPRN"/>
            <xs:enumeration value="OAGN"/>
            <xs:enumeration value="PRAG"/>
            <xs:enumeration value="PRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingPartyCapacity1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity4Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradingPartyCapacity2Choice">
        <xs:choice>
            <xs:element name="Cd" type="TradingCapacity6Code"/>
            <xs:element name="Prtry" type="GenericIdentification29"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactiontIdentification4">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TypeOfIdentification2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ARNU"/>
            <xs:enumeration value="CHTY"/>
            <xs:enumeration value="CORP"/>
            <xs:enumeration value="FIIN"/>
            <xs:enumeration value="TXID"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnaffirmedReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NAFF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnaffirmedReason2Choice">
        <xs:choice>
            <xs:element name="Cd" type="UnaffirmedReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification38"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
