xsd/tsin.006.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.5.2_DEV) on 2015 Apr 24 17:19:24, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsin.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsin.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Adjustment5">
        <xs:sequence>
            <xs:element name="Drctn" type="AdjustmentDirection1Code"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreedRate1">
        <xs:sequence>
            <xs:element name="XchgRate" type="BaseOneRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitCcy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtdCcy" type="CurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Algorithm5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HS25"/>
            <xs:enumeration value="HS38"/>
            <xs:enumeration value="HS51"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AlgorithmAndDigest1">
        <xs:sequence>
            <xs:element name="DgstAlgo" type="Algorithm5Code"/>
            <xs:element name="Dgst" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaseOneRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BinaryFile1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MIMETp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NcodgTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InclBinryObjct" type="Max100KBinary"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BrnchId" type="BranchData2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessApplicationHeader1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CharSet" type="UnicodeChartsCode"/>
            <xs:element name="Fr" type="Party9Choice"/>
            <xs:element name="To" type="Party9Choice"/>
            <xs:element name="BizMsgIdr" type="Max35Text"/>
            <xs:element name="MsgDefIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BizSvc" type="Max35Text"/>
            <xs:element name="CreDt" type="ISONormalisedDateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyDplct" type="CopyDuplicate1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PssblDplct" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="BusinessMessagePriorityCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessLetter1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplCntxt" type="Max35Text"/>
            <xs:element name="LttrIdr" type="QualifiedDocumentInformation1"/>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdLttr" type="QualifiedDocumentInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdMsg" type="QualifiedDocumentInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CnttIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority3Code"/>
            <xs:element name="Orgtr" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="PmryRcpt" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sndr" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AuthstnUsr" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RspnRcpt" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CpyRcpt" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OthrPty" type="QualifiedPartyIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdDoc" type="QualifiedDocumentInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GovngCtrct" type="QualifiedDocumentInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="LglCntxt" type="GovernanceRules2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntce" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtnStsInf" type="ValidationStatusInformation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DgtlSgntr" type="QualifiedPartyAndXMLSignature1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BusinessMessagePriorityCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CashAccount16">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="NREX"/>
            <xs:enumeration value="MOMA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="ODFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CategoryPurpose1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemIdentification2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingSystemMemberIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysId" type="ClearingSystemIdentification2Choice"/>
            <xs:element name="MmbId" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContactDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Contacts3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="JobTitl" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rspnsblty" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CopyDuplicate1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CODU"/>
            <xs:enumeration value="COPY"/>
            <xs:enumeration value="DUPL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountrySubdivision1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max35Text"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InvcAssgnmtReq" type="InvoiceAssignmentRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DunsIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EANGLNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{13,13}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EncapsulatedBusinessMessage1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Hdr" type="BusinessApplicationHeader1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Prfx" type="xs:ID"/>
            <xs:element name="Prtl" type="YesNoIndicator"/>
            <xs:element name="Msg" type="StrictPayload"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCategoryPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalClearingSystemIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentPurpose1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalLocalInstrument1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalServiceLevel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTradeMarket1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="GenericFinancialIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialItem1">
        <xs:sequence>
            <xs:element name="ItmCntxt" type="FinancialItemParameters1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinDocRef" type="xs:IDREF"/>
            <xs:element name="CdtDbtInd" type="CreditDebitCode"/>
            <xs:element name="TtlAmt" type="InvoiceTotals1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DueAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstlmtInf" type="Instalment2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AssoctdDoc" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtnStsInf" type="ValidationStatusInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgSts" type="FinancingInformationAndStatus1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryDtls" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialItemParameters1">
        <xs:sequence>
            <xs:element name="Idr" type="Max35Text"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdItm" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocPurp" type="ExternalDocumentPurpose1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LangCd" type="LanguageCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rcpt" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Buyr" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sellr" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SellrFinAgt" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BuyrFinAgt" type="xs:IDREF"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="GovngCtrct" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglCntxt" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtAcct" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtAcct" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradMkt" type="TradeMarket1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingAllowedSummary1">
        <xs:sequence>
            <xs:element name="FincdItmNb" type="Number"/>
            <xs:element name="TtlAccptdItmsAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApldPctg" type="PercentageRate"/>
            <xs:element name="TtlFincdAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgDtDtls" type="FinancingDateDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtAcct" type="CashAccount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgAcct" type="CashAccount7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingDateDetails1">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BookDt" type="ISODate"/>
            <xs:element name="CdtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DbtDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingInformationAndStatus1">
        <xs:sequence>
            <xs:element name="FincgAllwdSummry" type="FinancingAllowedSummary1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="InvcFincgDtls" type="InvoiceFinancingDetails1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingItemList1">
        <xs:sequence>
            <xs:element name="Idr" type="Max35Text"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RltdDoc" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AmtCutOffDt" type="ISODate"/>
            <xs:element name="Assgne" type="xs:IDREF"/>
            <xs:element name="Assgnr" type="xs:IDREF"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NtfctnInf" type="FinancingNotificationParties1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinItm" type="FinancialItem1"/>
            <xs:element name="ItmCnt" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrlSum" type="DecimalNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlReqAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlReqFincg" type="FinancingRateOrAmountChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgrdRate" type="AgreedRate1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FincgInstlmt" type="Instalment2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtnStsInf" type="ValidationStatusInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgSts" type="FinancingInformationAndStatus1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingNotificationParties1">
        <xs:sequence>
            <xs:element name="NtifngPty" type="xs:IDREF"/>
            <xs:element name="NtfctnRcvr" type="xs:IDREF"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AckRcvr" type="xs:IDREF"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancingRateOrAmountChoice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="Rate" type="PercentageRate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="FinancingResult1">
        <xs:sequence>
            <xs:element name="FincgReqSts" type="RequestStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="StatusReason4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlStsRsnInf" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincdAmt" type="FinancingRateOrAmountChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FinancingStatusReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CA01"/>
            <xs:enumeration value="CA02"/>
            <xs:enumeration value="AC01"/>
            <xs:enumeration value="AC04"/>
            <xs:enumeration value="AC06"/>
            <xs:enumeration value="BE08"/>
            <xs:enumeration value="BE09"/>
            <xs:enumeration value="BE10"/>
            <xs:enumeration value="BE11"/>
            <xs:enumeration value="DT02"/>
            <xs:enumeration value="ID01"/>
            <xs:enumeration value="ID02"/>
            <xs:enumeration value="ID03"/>
            <xs:enumeration value="MI01"/>
            <xs:enumeration value="NA01"/>
            <xs:enumeration value="CA03"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericFinancialIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="FinancialIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20">
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText"/>
            <xs:element name="Issr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GovernanceIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="GovernanceIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GovernanceIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISPR"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="UCPR"/>
            <xs:enumeration value="URDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GovernanceRules2">
        <xs:sequence>
            <xs:element name="Id" type="xs:ID"/>
            <xs:element name="RuleId" type="GovernanceIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblLaw" type="Location1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Jursdctn" type="Location1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[B-DF-HJ-NP-TV-XZ0-9]{7,7}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISONormalisedDateTime">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value=".*Z"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Instalment2">
        <xs:sequence>
            <xs:element name="SeqId" type="Max70Text"/>
            <xs:element name="PmtDueDt" type="ISODate"/>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtInstrm" type="PaymentMeans1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InstalmentFinancingInformation1">
        <xs:sequence>
            <xs:element name="InstlmtSeqId" type="Max70Text"/>
            <xs:element name="InstlmtTtlAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="InstlmtFincgRslt" type="FinancingResult1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceAssignmentRequestV01">
        <xs:sequence>
            <xs:element name="Hdr" type="BusinessLetter1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AssgnmtList" type="FinancingItemList1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AssgnmtCnt" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmCnt" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrlSum" type="DecimalNumber"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AttchdMsg" type="EncapsulatedBusinessMessage1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceFinancingDetails1">
        <xs:sequence>
            <xs:element name="OrgnlInvcInf" type="OriginalInvoiceInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Spplr" type="PartyIdentification8"/>
            <xs:element name="InvcFincgRslt" type="FinancingResult1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="InstlmtFincgInf" type="InstalmentFinancingInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceTotals1">
        <xs:sequence>
            <xs:element name="TtlTaxblAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="TtlTaxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adjstmnt" type="Adjustment5"/>
            <xs:element name="TtlInvcAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="PmtDueDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LanguageCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="LegalOrganisation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LocalInstrument2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Location1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="CountrySubdivision1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Txt" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max100KBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="102400"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max6Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5">
        <xs:sequence>
            <xs:element name="Nm" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IBEI" type="IBEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BEI" type="BEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EANGLN" type="EANGLNIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DUNS" type="DunsIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BkPtyId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxIdNb" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OriginalInvoiceInformation1">
        <xs:sequence>
            <xs:element name="DocNb" type="Max35Text"/>
            <xs:element name="TtlInvcAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="IsseDt" type="ISODate"/>
            <xs:element name="PmtDueDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party10Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification7"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party2Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification2"/>
            <xs:element maxOccurs="4" minOccurs="1" name="PrvtId" type="PersonIdentification3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party8Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification6"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party9Choice">
        <xs:choice>
            <xs:element name="OrgId" type="PartyIdentification42"/>
            <xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification2Choice">
        <xs:choice>
            <xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
            <xs:element name="PrtryId" type="GenericIdentification1"/>
            <xs:element name="NmAndAdr" type="NameAndAddress5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyIdentification42">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party10Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtctDtls" type="Contacts3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentMeans1">
        <xs:sequence>
            <xs:element name="PmtTp" type="PaymentTypeInformation19"/>
            <xs:element name="PmtMtdCd" type="PaymentMethod4Code"/>
            <xs:element name="PyeeCdtrAcct" type="CashAccount16"/>
            <xs:element name="PyeeFI" type="BranchAndFinancialInstitutionIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PyerDbtrAcct" type="CashAccount16"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PyerFI" type="BranchAndFinancialInstitutionIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentMethod4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CHK"/>
            <xs:enumeration value="TRF"/>
            <xs:enumeration value="DD"/>
            <xs:enumeration value="TRA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentTypeInformation19">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="InstrPrty" type="Priority2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SvcLvl" type="ServiceLevel8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclInstrm" type="LocalInstrument2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtgyPurp" type="CategoryPurpose1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification3">
        <xs:sequence>
            <xs:choice>
                <xs:element name="DrvrsLicNb" type="Max35Text"/>
                <xs:element name="CstmrNb" type="Max35Text"/>
                <xs:element name="SclSctyNb" type="Max35Text"/>
                <xs:element name="AlnRegnNb" type="Max35Text"/>
                <xs:element name="PsptNb" type="Max35Text"/>
                <xs:element name="TaxIdNb" type="Max35Text"/>
                <xs:element name="IdntyCardNb" type="Max35Text"/>
                <xs:element name="MplyrIdNb" type="Max35Text"/>
                <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
                <xs:element name="OthrId" type="GenericIdentification4"/>
            </xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AdrLine" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Priority2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Priority3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="URGT"/>
            <xs:enumeration value="HIGH"/>
            <xs:enumeration value="NORM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QualifiedDocumentInformation1">
        <xs:sequence>
            <xs:element name="Id" type="xs:ID"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="xs:IDREF"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmListIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ItmIdr" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max6Text"/>
            <xs:element name="ElctrncOrgnl" type="YesNoIndicator"/>
            <xs:element maxOccurs="2" minOccurs="0" name="Dgst" type="AlgorithmAndDigest1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocTp" type="ExternalDocumentType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="URL" type="Max2048Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AttchdFile" type="BinaryFile1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QualifiedPartyAndXMLSignature1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="xs:IDREF"/>
            <xs:element name="Sgntr" type="SignatureEnvelope"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QualifiedPartyIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="xs:ID"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Pty" type="SingleQualifiedPartyIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtId" type="PartyIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Role" type="GenericIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RoleDesc" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RequestStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FNCD"/>
            <xs:enumeration value="PDNG"/>
            <xs:enumeration value="NTFD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ServiceLevel8Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SignatureEnvelope">
        <xs:sequence>
            <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SingleQualifiedPartyIdentification1">
        <xs:sequence>
            <xs:element name="BasePty" type="TradeParty1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="RltvIdr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReason4Choice">
        <xs:choice>
            <xs:element name="Cd" type="FinancingStatusReason1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="StrictPayload">
        <xs:sequence>
            <xs:any namespace="##any" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TaxExemptReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="MASA"/>
            <xs:enumeration value="MISA"/>
            <xs:enumeration value="SISA"/>
            <xs:enumeration value="IISA"/>
            <xs:enumeration value="CUYP"/>
            <xs:enumeration value="PRYP"/>
            <xs:enumeration value="ASTR"/>
            <xs:enumeration value="EMPY"/>
            <xs:enumeration value="EMCY"/>
            <xs:enumeration value="EPRY"/>
            <xs:enumeration value="ECYE"/>
            <xs:enumeration value="NFPI"/>
            <xs:enumeration value="NFQP"/>
            <xs:enumeration value="DECP"/>
            <xs:enumeration value="IRAC"/>
            <xs:enumeration value="IRAR"/>
            <xs:enumeration value="KEOG"/>
            <xs:enumeration value="PFSP"/>
            <xs:enumeration value="401K"/>
            <xs:enumeration value="SIRA"/>
            <xs:enumeration value="403B"/>
            <xs:enumeration value="457X"/>
            <xs:enumeration value="RIRA"/>
            <xs:enumeration value="RIAN"/>
            <xs:enumeration value="RCRF"/>
            <xs:enumeration value="RCIP"/>
            <xs:enumeration value="EIFP"/>
            <xs:enumeration value="EIOP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TaxExemptionReasonFormatChoice">
        <xs:choice>
            <xs:element name="Ustrd" type="Max140Text"/>
            <xs:element name="Strd" type="TaxExemptReason1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TaxParty3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxId" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TaxTp" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RegnId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxXmptnRsn" type="TaxExemptionReasonFormatChoice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TechnicalValidationStatus1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCCF"/>
            <xs:enumeration value="RCER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradeMarket1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalTradeMarket1Code"/>
            <xs:element name="Prtry" type="GenericIdentification20"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeParty1">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification45"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LglOrg" type="LegalOrganisation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TaxPty" type="TaxParty3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UnicodeChartsCode">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="ValidationStatusInformation1">
        <xs:sequence>
            <xs:element name="Sts" type="TechnicalValidationStatus1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StsRsn" type="StatusReason4Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlStsRsnInf" type="Max105Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
