xsd/tsin.003.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:07:14, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsin.003.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsin.003.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification3Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBANIdentifier"/>
            <xs:element name="BBAN" type="BBANIdentifier"/>
            <xs:element name="UPIC" type="UPICIdentifier"/>
            <xs:element name="PrtryAcct" type="SimpleIdentificationInformation2"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AustrianBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AT[0-9]{5,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSParticipantIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CP[0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CHIPSUniversalIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CH[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CanadianPaymentsARNIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="CA[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationRequestInformation1">
        <xs:sequence>
            <xs:element name="OrgnlGrpId" type="Max35Text"/>
            <xs:element name="OrgnlCreDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfInvcReqs" type="Max15NumericText"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlBlkInvcAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="CxlRsn" type="Max105Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgRqstr" type="PartyIdentificationAndAccount6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrmyAgt" type="FinancialInstitutionIdentification6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstAgt" type="FinancialInstitutionIdentification6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount7">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="CurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2">
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CashAccountType4Code"/>
                <xs:element name="Prtry" type="Max35Text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CashAccountType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASH"/>
            <xs:enumeration value="CHAR"/>
            <xs:enumeration value="COMM"/>
            <xs:enumeration value="TAXE"/>
            <xs:enumeration value="CISH"/>
            <xs:enumeration value="TRAS"/>
            <xs:enumeration value="SACC"/>
            <xs:enumeration value="CACC"/>
            <xs:enumeration value="SVGS"/>
            <xs:enumeration value="ONDP"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="NREX"/>
            <xs:enumeration value="MOMA"/>
            <xs:enumeration value="LOAN"/>
            <xs:enumeration value="SLRY"/>
            <xs:enumeration value="ODFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClearingSystemMemberIdentification2Choice">
        <xs:choice>
            <xs:element name="USCHU" type="CHIPSUniversalIdentifier"/>
            <xs:element name="NZNCC" type="NewZealandNCCIdentifier"/>
            <xs:element name="IENSC" type="IrishNSCIdentifier"/>
            <xs:element name="GBSC" type="UKDomesticSortCodeIdentifier"/>
            <xs:element name="USCH" type="CHIPSParticipantIdentifier"/>
            <xs:element name="CHBC" type="SwissBCIdentifier"/>
            <xs:element name="USFW" type="FedwireRoutingNumberIdentifier"/>
            <xs:element name="PTNCC" type="PortugueseNCCIdentifier"/>
            <xs:element name="RUCB" type="RussianCentralBankIdentificationCodeIdentifier"/>
            <xs:element name="ITNCC" type="ItalianDomesticIdentifier"/>
            <xs:element name="ATBLZ" type="AustrianBankleitzahlIdentifier"/>
            <xs:element name="CACPA" type="CanadianPaymentsARNIdentifier"/>
            <xs:element name="CHSIC" type="SwissSICIdentifier"/>
            <xs:element name="DEBLZ" type="GermanBankleitzahlIdentifier"/>
            <xs:element name="ESNCC" type="SpanishDomesticInterbankingIdentifier"/>
            <xs:element name="ZANCC" type="SouthAfricanNCCIdentifier"/>
            <xs:element name="HKNCC" type="HongKongBankIdentifier"/>
            <xs:element name="AUBSBx" type="ExtensiveBranchNetworkIdentifier"/>
            <xs:element name="AUBSBs" type="SmallNetworkIdentifier"/>
            <xs:element name="INIFSC" type="IndianFinancialSystemCodeIdentifier"/>
            <xs:element name="GRHEBIC" type="HellenicBankIdentificationCodeIdentifier"/>
            <xs:element name="PLKNR" type="PolishNationalClearingCodeIdentifier"/>
            <xs:element name="OthrClrCdId" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InvcFincgCxlReq" type="InvoiceFinancingCancellationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExtensiveBranchNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FedwireRoutingNumberIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="FW[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSysMmbId" type="ClearingSystemMemberIdentification2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="GermanBankleitzahlIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="BL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HellenicBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="GR[0-9]{7,7}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="HongKongBankIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="HK[0-9]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IBANIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IndianFinancialSystemCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IN[a-zA-Z0-9]{11,11}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InvoiceFinancingCancellationRequestV01">
        <xs:sequence>
            <xs:element name="CxlReqId" type="MessageIdentification1"/>
            <xs:element name="CxlReqInf" type="CancellationRequestInformation1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IrishNSCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IE[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItalianDomesticIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="IT[0-9]{10,10}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max105Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="105"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max15NumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,15}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NewZealandNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="NZ[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification25">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BEI" type="BEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount6">
        <xs:sequence>
            <xs:element name="PtyId" type="PartyIdentification25"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtAcct" type="CashAccount7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FincgAcct" type="CashAccount7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PolishNationalClearingCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PL[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PortugueseNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="PT[0-9]{8,8}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RussianCentralBankIdentificationCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="RU[0-9]{9,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SimpleIdentificationInformation2">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SmallNetworkIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="AU[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SouthAfricanNCCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ZA[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanishDomesticInterbankingIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="ES[0-9]{8,9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissBCIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{3,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SwissSICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SW[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UKDomesticSortCodeIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="SC[0-9]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UPICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8,17}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
