xsd/tsmt.046.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.046.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.046.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="PMTC"/>
            <xs:enumeration value="ESTD"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="AMRQ"/>
            <xs:enumeration value="RARQ"/>
            <xs:enumeration value="CLRQ"/>
            <xs:enumeration value="SCRQ"/>
            <xs:enumeration value="SERQ"/>
            <xs:enumeration value="DARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="InttToPayRpt" type="IntentToPayReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IntentToPayReportV01">
        <xs:sequence>
            <xs:element name="RptId" type="MessageIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RptdItms" type="ReportLine1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine1">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="TxSts" type="TransactionStatus4"/>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element name="PurchsOrdrTtlNetAmt" type="CurrencyAndAmount"/>
            <xs:element name="AcmltdNetAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
