xsd/tsmt.015.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:37, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.015.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.015.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW"/>
            <xs:enumeration value="RSTW"/>
            <xs:enumeration value="RSBS"/>
            <xs:enumeration value="ARDM"/>
            <xs:enumeration value="ARCS"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="SBDS"/>
            <xs:enumeration value="ARBA"/>
            <xs:enumeration value="ARRO"/>
            <xs:enumeration value="CINR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Addition2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PropsdVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="PMTC"/>
            <xs:enumeration value="ESTD"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="AMRQ"/>
            <xs:enumeration value="RARQ"/>
            <xs:enumeration value="CLRQ"/>
            <xs:enumeration value="SCRQ"/>
            <xs:enumeration value="SERQ"/>
            <xs:enumeration value="DARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ComparisonResult2">
        <xs:sequence>
            <xs:element name="ElmtSeqNb" type="Number"/>
            <xs:element name="ElmtPth" type="Max350Text"/>
            <xs:element name="ElmtNm" type="Max35Text"/>
            <xs:choice>
                <xs:element name="Rplcmnt" type="Replacement2"/>
                <xs:element name="Deltn" type="Deletion2"/>
                <xs:element name="Addtn" type="Addition2"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Count1">
        <xs:sequence>
            <xs:element name="Nb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Deletion2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DeltdVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeltaReportV03">
        <xs:sequence>
            <xs:element name="RptId" type="MessageIdentification1"/>
            <xs:element name="TxId" type="SimpleIdentificationInformation"/>
            <xs:element name="EstblishdBaselnId" type="DocumentIdentification3"/>
            <xs:element name="TxSts" type="TransactionStatus4"/>
            <xs:element name="AmdmntNb" type="Count1"/>
            <xs:element maxOccurs="2" minOccurs="0" name="UsrTxRef" type="DocumentIdentification5"/>
            <xs:element name="Buyr" type="PartyIdentification26"/>
            <xs:element name="Sellr" type="PartyIdentification26"/>
            <xs:element name="BuyrBk" type="BICIdentification1"/>
            <xs:element name="SellrBk" type="BICIdentification1"/>
            <xs:element name="SubmitrPropsdBaselnRef" type="DocumentIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="UpdtdElmt" type="ComparisonResult2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqForActn" type="PendingActivity2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="DltaRpt" type="DeltaReportV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Number"/>
            <xs:element name="Submitr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdIssr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification26">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4"/>
            <xs:element name="PstlAdr" type="PostalAddress5"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingActivity2">
        <xs:sequence>
            <xs:element name="Tp" type="Action2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCdId" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Replacement2">
        <xs:sequence>
            <xs:element name="CurVal" type="Max350Text"/>
            <xs:element name="PropsdVal" type="Max350Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
