xsd/tsmt.007.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:37, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.007.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.007.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AmendmentRejectionV02">
        <xs:sequence>
            <xs:element name="RjctnId" type="MessageIdentification1"/>
            <xs:element name="TxId" type="SimpleIdentificationInformation"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="SimpleIdentificationInformation"/>
            <xs:element name="DltaRptRef" type="MessageIdentification1"/>
            <xs:element name="RjctdAmdmntNb" type="Count1"/>
            <xs:element name="RjctnRsn" type="RejectionReason1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Count1">
        <xs:sequence>
            <xs:element name="Nb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="AmdmntRjctn" type="AmendmentRejectionV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Reason2">
        <xs:sequence>
            <xs:element name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectedElement1">
        <xs:sequence>
            <xs:element name="ElmtSeqNb" type="Number"/>
            <xs:element name="IndvRjctnRsn" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason1Choice">
        <xs:choice>
            <xs:element name="GblRjctnRsn" type="Reason2"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="RjctdElmt" type="RejectedElement1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
