xsd/tsmt.042.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.042.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.042.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="Action1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW"/>
            <xs:enumeration value="RSTW"/>
            <xs:enumeration value="RSBS"/>
            <xs:enumeration value="ARDM"/>
            <xs:enumeration value="ARCS"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="SBDS"/>
            <xs:enumeration value="ARBA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="PMTC"/>
            <xs:enumeration value="ESTD"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="AMRQ"/>
            <xs:enumeration value="RARQ"/>
            <xs:enumeration value="CLRQ"/>
            <xs:enumeration value="SCRQ"/>
            <xs:enumeration value="SERQ"/>
            <xs:enumeration value="DARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="TxRptReq" type="TransactionReportRequestV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification4">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdTp" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification28">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtryId" type="GenericIdentification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingActivity1">
        <xs:sequence>
            <xs:element name="Tp" type="Action1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportSpecification4">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxId" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TxSts" type="TransactionStatus4"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubmitrTxRef" type="Max35Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NttiesToBeRptd" type="BICIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Crspdt" type="BICIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SubmitgBk" type="BICIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="OblgrBk" type="BICIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Buyr" type="PartyIdentification28"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sellr" type="PartyIdentification28"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BuyrCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SellrCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CrspdtCtry" type="CountryCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PdgReqForActn" type="PendingActivity1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportRequestV03">
        <xs:sequence>
            <xs:element name="ReqId" type="MessageIdentification1"/>
            <xs:element name="RptSpcfctn" type="ReportSpecification4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
