xsd/tsmt.031.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:39:38, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.031.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.031.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="PMTC"/>
            <xs:enumeration value="ESTD"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="AMRQ"/>
            <xs:enumeration value="RARQ"/>
            <xs:enumeration value="CLRQ"/>
            <xs:enumeration value="SCRQ"/>
            <xs:enumeration value="SERQ"/>
            <xs:enumeration value="DARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="StsXtnsnReqAccptnc" type="StatusExtensionRequestAcceptanceV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusExtensionRequestAcceptanceV03">
        <xs:sequence>
            <xs:element name="AccptncId" type="MessageIdentification1"/>
            <xs:element name="TxId" type="SimpleIdentificationInformation"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubmitrTxRef" type="SimpleIdentificationInformation"/>
            <xs:element name="XtndedSts" type="TransactionStatus4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
