xsd/tsmt.045.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.1.1) on 2014 Feb 18 14:22:13, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsmt.045.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsmt.045.001.02">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:choice>
            <xs:element name="IBAN" type="IBAN2007Identifier"/>
            <xs:element name="Othr" type="GenericAccountIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AccountSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="Action2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBTW"/>
            <xs:enumeration value="RSTW"/>
            <xs:enumeration value="RSBS"/>
            <xs:enumeration value="ARDM"/>
            <xs:enumeration value="ARCS"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="WAIT"/>
            <xs:enumeration value="UPDT"/>
            <xs:enumeration value="SBDS"/>
            <xs:enumeration value="ARBA"/>
            <xs:enumeration value="ARRO"/>
            <xs:enumeration value="CINR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Adjustment6">
        <xs:sequence>
            <xs:element name="Tp" type="AdjustmentType1Choice"/>
            <xs:element name="Drctn" type="AdjustmentDirection1Code"/>
            <xs:element name="Amt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AdjustmentDirection1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDD"/>
            <xs:enumeration value="SUBS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdjustmentType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="AdjustmentType2Code"/>
            <xs:element name="OthrAdjstmntTp" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AdjustmentType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REBA"/>
            <xs:enumeration value="DISC"/>
            <xs:enumeration value="CREN"/>
            <xs:enumeration value="SURC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BICIdentification1">
        <xs:sequence>
            <xs:element name="BIC" type="BICIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BaselineStatus3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROP"/>
            <xs:enumeration value="CLSD"/>
            <xs:enumeration value="PMTC"/>
            <xs:enumeration value="ESTD"/>
            <xs:enumeration value="ACTV"/>
            <xs:enumeration value="COMP"/>
            <xs:enumeration value="AMRQ"/>
            <xs:enumeration value="RARQ"/>
            <xs:enumeration value="CLRQ"/>
            <xs:enumeration value="SCRQ"/>
            <xs:enumeration value="SERQ"/>
            <xs:enumeration value="DARQ"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BreakDown1Choice">
        <xs:choice>
            <xs:element name="ByPurchsOrdr" type="ReportLine5"/>
            <xs:element name="ByComrclInvc" type="ReportLine6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CashAccount24">
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="CashAccountType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalCashAccountType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="CurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="CurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="FwdInttToPayNtfctn" type="ForwardIntentToPayNotificationV02"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Vrsn" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification5">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="IdIssr" type="BICIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="DtOfIsse" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalAccountIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalCashAccountType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification4Choice">
        <xs:choice>
            <xs:element name="BIC" type="BICIdentifier"/>
            <xs:element name="NmAndAdr" type="NameAndAddress6"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ForwardIntentToPayNotificationV02">
        <xs:sequence>
            <xs:element name="NtfctnId" type="MessageIdentification1"/>
            <xs:element name="TxId" type="SimpleIdentificationInformation"/>
            <xs:element name="EstblishdBaselnId" type="DocumentIdentification3"/>
            <xs:element name="TxSts" type="TransactionStatus4"/>
            <xs:element maxOccurs="2" minOccurs="0" name="UsrTxRef" type="DocumentIdentification5"/>
            <xs:element name="BuyrBk" type="BICIdentification1"/>
            <xs:element name="SellrBk" type="BICIdentification1"/>
            <xs:element name="InttToPay" type="IntentToPay2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqForActn" type="PendingActivity2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max34Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="AccountSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="IBAN2007Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="IntentToPay2">
        <xs:sequence>
            <xs:element name="Brkdwn" type="BreakDown1Choice"/>
            <xs:element name="XpctdPmtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmTerms" type="SettlementTerms3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InvoiceIdentification1">
        <xs:sequence>
            <xs:element name="InvcNb" type="Max35Text"/>
            <xs:element name="IsseDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="CreDtTm" type="ISODateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameAndAddress6">
        <xs:sequence>
            <xs:element name="Nm" type="Max70Text"/>
            <xs:element name="Adr" type="PostalAddress2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingActivity2">
        <xs:sequence>
            <xs:element name="Tp" type="Action2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="Max140Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element name="PstCdId" type="Max16Text"/>
            <xs:element name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine5">
        <xs:sequence>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment6"/>
            <xs:element name="NetAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine6">
        <xs:sequence>
            <xs:element name="ComrclDocRef" type="InvoiceIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment6"/>
            <xs:element name="NetAmt" type="CurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="BrkdwnByPurchsOrdr" type="ReportLine7"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportLine7">
        <xs:sequence>
            <xs:element name="TxId" type="Max35Text"/>
            <xs:element name="PurchsOrdrRef" type="DocumentIdentification7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Adjstmnt" type="Adjustment6"/>
            <xs:element name="NetAmt" type="CurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementTerms3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAgt" type="FinancialInstitutionIdentification4Choice"/>
            <xs:element name="CdtrAcct" type="CashAccount24"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SimpleIdentificationInformation">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionStatus4">
        <xs:sequence>
            <xs:element name="Sts" type="BaselineStatus3Code"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
