xsd/tsrv.007.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:33:36, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsrv.007.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsrv.007.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amendment1">
        <xs:sequence>
            <xs:element name="SeqNb" type="Max4AlphaNumericText"/>
            <xs:element name="DtOfIssnc" type="ISODate"/>
            <xs:element name="UdrtkgId" type="Undertaking7"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvsgPty" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndAdvsgPty" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDtls" type="UndertakingTermination3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UdrtkgAmtAdjstmnt" type="UndertakingAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewXpryDtls" type="ExpiryDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewBnfcry" type="PartyIdentification43"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NewUdrtkgTermsAndConds" type="Narrative1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LclUdrtkg" type="Undertaking11"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BnfcryCnsntReqInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryChanl" type="CommunicationChannel1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NclsdFile" type="Document9"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amendment6">
        <xs:sequence>
            <xs:element name="UdrtkgAmdmntMsg" type="UndertakingAmendmentMessage1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ApplcntRefNb" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Amount1Choice">
        <xs:choice>
            <xs:element name="IncrAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element name="DcrAmt" type="ActiveCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutoExtend1Choice">
        <xs:choice>
            <xs:element name="Days" type="Number"/>
            <xs:element name="Mnths" type="Number"/>
            <xs:element name="Yrs" type="Number"/>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AutoExtension1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="AutoExtend1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlXpryDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonXtnsnNtfctn" type="NonExtension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationChannel1">
        <xs:sequence>
            <xs:element name="Mtd" type="ExternalChannel1Code"/>
            <xs:element name="DlvrToPtyTp" type="PartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrToNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrToAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalChannel1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ContactDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="UdrtkgAmdmntNtfctn" type="UndertakingAmendmentNotificationV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document9">
        <xs:sequence>
            <xs:element name="Tp" type="UndertakingDocumentType1Choice"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="DocumentFormat1Choice"/>
            <xs:element name="Nclsr" type="Max2MBBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalDocumentFormat1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExpiryDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryTerms" type="ExpiryTerms1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlXpryInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpiryTerms1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutoXtnsn" type="AutoExtension1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cond" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OpnEnddInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalChannel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentFormat1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalNarrativeType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTypeOfParty1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUndertakingDocumentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2MBBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2097152"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Narrative1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="NarrativeType1Choice"/>
            <xs:element maxOccurs="5" minOccurs="1" name="Txt" type="Max20000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NarrativeType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalNarrativeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NonExtension1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnPrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnMtd" type="CommunicationMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptTp" type="PartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party11Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification8"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyAndSignature2">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification43"/>
            <xs:element name="Sgntr" type="ProprietaryData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalTypeOfParty1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PersonIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryData3">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TerminationReason1Choice">
        <xs:choice>
            <xs:element name="Cd" type="TerminationReason1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TerminationReason1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="REFU"/>
            <xs:enumeration value="NOAC"/>
            <xs:enumeration value="BUFI"/>
            <xs:enumeration value="WOEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Undertaking11">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewUdrtkgAmt" type="UndertakingAmount2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewXpryDtls" type="ExpiryDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewBnfcry" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NewUdrtkgTermsAndConds" type="Narrative1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryChanl" type="CommunicationChannel1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Undertaking7">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Issr" type="PartyIdentification43"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAmendmentMessage1">
        <xs:sequence>
            <xs:element name="UdrtkgAmdmntDtls" type="Amendment1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAmendmentNotificationV01">
        <xs:sequence>
            <xs:element name="UdrtkgAmdmntNtfctnDtls" type="Amendment6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAmount2">
        <xs:sequence>
            <xs:element name="AmtChc" type="Amount1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingDocumentType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUndertakingDocumentType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UndertakingTermination3">
        <xs:sequence>
            <xs:element name="FctvDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Rsn" type="TerminationReason1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
