xsd/tsrv.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 11:33:37, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:tsrv.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:tsrv.002.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddressType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADDR"/>
            <xs:enumeration value="PBOX"/>
            <xs:enumeration value="HOME"/>
            <xs:enumeration value="BIZZ"/>
            <xs:enumeration value="MLTO"/>
            <xs:enumeration value="DLVY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AdvisingPartyAdditionalInformation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RefNb" type="Max35Text"/>
            <xs:element maxOccurs="5" minOccurs="0" name="BkToBnfcryInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndTrigger1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="AmtDtlsChc" type="AmountOrPercentage1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Trggr" type="Trigger1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountOrPercentage1Choice">
        <xs:choice>
            <xs:element name="DfndAmt" type="UndertakingAmount4"/>
            <xs:element name="PctgAmt" type="Percentage1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AutoExtend1Choice">
        <xs:choice>
            <xs:element name="Days" type="Number"/>
            <xs:element name="Mnths" type="Number"/>
            <xs:element name="Yrs" type="Number"/>
            <xs:element name="Dt" type="ISODate"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AutoExtension1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Prd" type="AutoExtend1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FnlXpryDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NonXtnsnNtfctn" type="NonExtension1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AutomaticVariation1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Tp" type="VariationType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="AmtAndTrggr" type="AmountAndTrigger1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Channel1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalChannel1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CommunicationChannel1">
        <xs:sequence>
            <xs:element name="Mtd" type="ExternalChannel1Code"/>
            <xs:element name="DlvrToPtyTp" type="PartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrToNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrToAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommunicationMethod1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalChannel1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ContactDetails2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NmPrfx" type="NamePrefix1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PhneNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MobNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FaxNb" type="PhoneNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EmailAdr" type="Max2048Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Othr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CountrySubdivision1Choice">
        <xs:choice>
            <xs:element name="Cd" type="Max35Text"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:choice>
            <xs:element name="Dt" type="ISODate"/>
            <xs:element name="DtTm" type="ISODateTime"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="DateAndPlaceOfBirth">
        <xs:sequence>
            <xs:element name="BirthDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrvcOfBirth" type="Max35Text"/>
            <xs:element name="CityOfBirth" type="Max35Text"/>
            <xs:element name="CtryOfBirth" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateInformation1">
        <xs:sequence>
            <xs:element name="StartDt" type="ISODate"/>
            <xs:element name="Frqcy" type="ExternalDateFrequency1Code"/>
            <xs:element name="Nb" type="Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="UdrtkgIssncAdvc" type="UndertakingIssuanceAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document10">
        <xs:sequence>
            <xs:element name="DocTp" type="UndertakingDocumentType2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntnChanl" type="Channel1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DocFrmt" type="DocumentFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CpyInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SgndInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document8">
        <xs:sequence>
            <xs:element name="Tp" type="PresentationDocumentFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Wrdg" type="Max20000Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ElctrncDtls" type="Presentation3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document9">
        <xs:sequence>
            <xs:element name="Tp" type="UndertakingDocumentType1Choice"/>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="DocumentFormat1Choice"/>
            <xs:element name="Nclsr" type="Max2MBBinary"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalDocumentFormat1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ExpiryDetails1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryTerms" type="ExpiryTerms1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlXpryInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ExpiryTerms1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtTm" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AutoXtnsn" type="AutoExtension1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Cond" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OpnEnddInd" type="YesNoIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExternalChannel1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDateFrequency1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalDocumentFormat1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalModelFormIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalNarrativeType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalOrganisationIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalPersonIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalRelativeTo1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalTypeOfParty1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUnderlyingTradeTransactionType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUndertakingDocumentType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUndertakingDocumentType2Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalUndertakingType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FixedOrRecurrentDate1Choice">
        <xs:choice>
            <xs:element name="FxdDt" type="ISODate"/>
            <xs:element name="RcrntDt" type="DateInformation1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericOrganisationIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericPersonIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="PersonIdentificationSchemeName1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GovernanceIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="GovernanceIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="GovernanceIdentification1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISPR"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="UCPR"/>
            <xs:enumeration value="URDG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GovernanceRules1">
        <xs:sequence>
            <xs:element name="RuleId" type="GovernanceIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AplblLaw" type="Location1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Jursdctn" type="Location1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO2ALanguageCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="IssuanceType1Code">
        <xs:restriction base="xs:string">
            <xs:length value="4"/>
            <xs:enumeration value="CRQL"/>
            <xs:enumeration value="CRQC"/>
            <xs:enumeration value="ISSU"/>
            <xs:enumeration value="ISCO"/>
            <xs:enumeration value="ISAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Location1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="CountrySubdivision1Choice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Txt" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max140Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max16Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max20000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2048Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2048"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max256Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max2MBBinary">
        <xs:restriction base="xs:base64Binary">
            <xs:minLength value="1"/>
            <xs:maxLength value="2097152"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max70Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ModelFormIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="ModelFormIdentification1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModelFormIdentification1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalModelFormIdentification1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="NamePrefix1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DOCT"/>
            <xs:enumeration value="MIST"/>
            <xs:enumeration value="MISS"/>
            <xs:enumeration value="MADM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Narrative1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="NarrativeType1Choice"/>
            <xs:element maxOccurs="5" minOccurs="1" name="Txt" type="Max20000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NarrativeType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalNarrativeType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="NonExtension1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnPrd" type="Number"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnMtd" type="CommunicationMethod1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptTp" type="PartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptNm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NtfctnRcptAdr" type="PostalAddress6"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification8">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AnyBIC" type="AnyBICIdentifier"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericOrganisationIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Party11Choice">
        <xs:choice>
            <xs:element name="OrgId" type="OrganisationIdentification8"/>
            <xs:element name="PrvtId" type="PersonIdentification5"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PartyAndSignature2">
        <xs:sequence>
            <xs:element name="Pty" type="PartyIdentification43"/>
            <xs:element name="Sgntr" type="ProprietaryData3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyAndType1">
        <xs:sequence>
            <xs:element name="Tp" type="PartyType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty" type="PartyIdentification43"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="Max140Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstlAdr" type="PostalAddress6"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party11Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfRes" type="CountryCode"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtctDtls" type="ContactDetails2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalTypeOfParty1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Percentage1">
        <xs:sequence>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="RltvTo" type="ExternalRelativeTo1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonIdentification5">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Othr" type="GenericPersonIdentification1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PersonIdentificationSchemeName1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PhoneNumber">
        <xs:restriction base="xs:string">
            <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PlaceOfPresentation1">
        <xs:sequence>
            <xs:element name="Plc" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PlaceOrUnderConfirmationChoice1">
        <xs:choice>
            <xs:element name="PlcOfPresntn" type="PlaceOfPresentation1"/>
            <xs:element name="PresntnUdrConf" type="PresentationParty1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PostalAddress12">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AdrTp" type="AddressType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Dept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubDept" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="StrtNm" type="Max70Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BldgNb" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PstCd" type="Max16Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TwnNm" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ctry" type="CountryCode"/>
            <xs:element maxOccurs="7" minOccurs="0" name="AdrLine" type="Max70Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Presentation1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Mdm" type="PresentationMedium1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfPresntnOrUdrConfChc" type="PlaceOrUnderConfirmationChoice1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Doc" type="Document8"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Presentation3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Frmt" type="DocumentFormat1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Chanl" type="Channel1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="Max256Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PresentationDocumentFormat1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUndertakingDocumentType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="PresentationMedium1Choice">
        <xs:choice>
            <xs:element name="Cd" type="PresentationMedium1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="PresentationMedium1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BOTH"/>
            <xs:enumeration value="ELEC"/>
            <xs:enumeration value="PAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PresentationParty1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ETHR"/>
            <xs:enumeration value="EXCN"/>
            <xs:enumeration value="EXIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProprietaryData3">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Trigger1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="DtChc" type="FixedOrRecurrentDate1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="DcmntryEvt" type="Document10"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnderlyingTradeTransaction1">
        <xs:sequence>
            <xs:element name="Tp" type="UnderlyingTradeTransactionType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TndrClsgDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctAmtPctg" type="PercentageRate"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UnderlyingTradeTransactionType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUnderlyingTradeTransactionType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Undertaking3">
        <xs:sequence>
            <xs:element name="Id" type="Max35Text"/>
            <xs:element name="Nm" type="UndertakingIssuanceName1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="UndertakingType1Choice"/>
            <xs:element name="IssncTp" type="IssuanceType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Applcnt" type="PartyIdentification43"/>
            <xs:element name="Issr" type="PartyIdentification43"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Bnfcry" type="PartyIdentification43"/>
            <xs:element name="DtOfIssnc" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcOfIsse" type="PostalAddress12"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvsgPty" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndAdvsgPty" type="PartyIdentification43"/>
            <xs:element name="UdrtkgAmt" type="UndertakingAmount1"/>
            <xs:element name="XpryDtls" type="ExpiryDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfPtyTp" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlPty" type="PartyAndType1"/>
            <xs:element name="GovncRulesAndLaw" type="GovernanceRules1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygTx" type="UnderlyingTradeTransaction1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntnDtls" type="Presentation1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="UdrtkgTermsAndConds" type="Narrative1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MltplDmndInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlDmndInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfChrgsPyblBy" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfChrgsPyblBy" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AutomtcAmtVartn" type="AutomaticVariation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryChanl" type="CommunicationChannel1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="NclsdFile" type="Document9"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdLclUdrtkg" type="Undertaking4"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Undertaking4">
        <xs:sequence>
            <xs:element name="Nm" type="UndertakingName1Code"/>
            <xs:element name="Tp" type="ExternalUndertakingType1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Applcnt" type="PartyIdentification43"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Bnfcry" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DtOfIssnc" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AdvsgPty" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndAdvsgPty" type="PartyIdentification43"/>
            <xs:element name="LclUdrtkgAmt" type="UndertakingAmount1"/>
            <xs:element name="XpryDtls" type="ExpiryDetails1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlPty" type="PartyAndType1"/>
            <xs:element name="GovncRulesAndLaw" type="GovernanceRules1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UndrlygTx" type="UnderlyingTradeTransaction1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PresntnDtls" type="Presentation1"/>
            <xs:element name="UdrtkgWrdg" type="UndertakingWording1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MltplDmndInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlDmndInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfChrgsPyblBy" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfChrgsPyblBy" type="ExternalTypeOfParty1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AutomtcAmtVartn" type="AutomaticVariation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryChanl" type="CommunicationChannel1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrfInd" type="YesNoIndicator"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAdvice1">
        <xs:sequence>
            <xs:element name="UdrtkgIssncMsg" type="UndertakingIssuanceMessage"/>
            <xs:element maxOccurs="1" minOccurs="0" name="FrstAdvsgPtyAddtlInf" type="AdvisingPartyAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndAdvsgPtyAddtlInf" type="AdvisingPartyAdditionalInformation1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ConfDtls" type="UndertakingConfirmation1"/>
            <xs:element maxOccurs="3" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAmount1">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PlusTlrnce" type="PercentageRate"/>
            <xs:element maxOccurs="5" minOccurs="0" name="AddtlInf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingAmount4">
        <xs:sequence>
            <xs:element name="VartnAmt" type="ActiveCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BalAmt" type="ActiveCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingConfirmation1">
        <xs:sequence>
            <xs:element name="Cnfrmr" type="PartyIdentification43"/>
            <xs:element name="RefNb" type="Max35Text"/>
            <xs:element name="Dt" type="DateAndDateTimeChoice"/>
            <xs:element maxOccurs="5" minOccurs="0" name="Conf" type="Max2000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingDocumentType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUndertakingDocumentType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UndertakingDocumentType2Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUndertakingDocumentType2Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UndertakingIssuanceAdviceV01">
        <xs:sequence>
            <xs:element name="AdvsgPty" type="PartyIdentification43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ScndAdvsgPty" type="PartyIdentification43"/>
            <xs:element name="DtOfAdvc" type="DateAndDateTimeChoice"/>
            <xs:element name="UdrtkgIssncAdvcDtls" type="UndertakingAdvice1"/>
            <xs:element maxOccurs="5" minOccurs="0" name="BkToBkInf" type="Max2000Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UndertakingIssuanceMessage">
        <xs:sequence>
            <xs:element name="UdrtkgDtls" type="Undertaking3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DgtlSgntr" type="PartyAndSignature2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="UndertakingIssuanceName1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STBY"/>
            <xs:enumeration value="DGAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="UndertakingName1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="STBY"/>
            <xs:enumeration value="DGAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UndertakingType1Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalUndertakingType1Code"/>
            <xs:element name="Prtry" type="GenericIdentification1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="UndertakingWording1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MdlForm" type="ModelFormIdentification1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqdWrdgLang" type="ISO2ALanguageCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="UdrtkgTermsAndConds" type="Narrative1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="VariationType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DECR"/>
            <xs:enumeration value="INCR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
