xsd-t2/PM/ssp.pm.ReturnTransaction.camt.006.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema is a customised schema that covers the TARGET2 system requirements, and is not the official SWIFT schema. The full SWIFT schema may be found on www.swift.com -->
<xs:schema xmlns="urn:swift:xsd:camt.006.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:swift:xsd:camt.006.001.04" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountCashEntryDetails">
		<xs:sequence>
			<xs:element name="AcctId" type="AccountIdentification">
				<xs:annotation>
					<xs:documentation>account identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NtryDt" type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>entry time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountIdentification">
		<xs:sequence>
			<xs:element name="DmstAcct" type="SimpleIdentificationInformation">
				<xs:annotation>
					<xs:documentation>account number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Amount">
		<xs:sequence>
			<xs:element name="AmtWthtCcy" type="ImpliedCurrencyAndAmount">
				<xs:annotation>
					<xs:documentation>amount in Euro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Date">
		<xs:sequence>
			<xs:element name="Dt" type="ISODate">
				<xs:annotation>
					<xs:documentation>date</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTime">
		<xs:sequence>
			<xs:element name="DtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FrDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>from date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ToDtTm" type="ISODateTime">
					<xs:annotation>
						<xs:documentation>to date/time</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DtTmRg" type="DateTimePeriodDetails">
					<xs:annotation>
						<xs:documentation>date/time range</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateTimePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>from date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDtTm" type="ISODateTime">
				<xs:annotation>
					<xs:documentation>to date/time</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrTx" type="ReturnTransaction">
				<xs:annotation>
					<xs:documentation>return transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorCode">
		<xs:sequence>
			<xs:element name="Prtry" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>XML error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorHandling">
		<xs:sequence>
			<xs:element name="Err" type="ErrorCode">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="Max140Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MemberIdentification">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier">
				<xs:annotation>
					<xs:documentation>BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageIdentification">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text">
				<xs:annotation>
					<xs:documentation>identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentDetails">
		<xs:sequence>
			<xs:element name="TxRef" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SSP business case id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstrSts" type="PaymentStatusDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstdAmt" type="Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtMtd" type="PaymentOriginChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prty" type="PriorityCodeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>priority</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrcgVldtyTm" type="DateTimePeriodChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payments with debit time indicator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstrCpy" type="Max10000Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FIN/XML message. Remark: XML messages are enclosed in a CDATA section.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTp" type="PaymentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInstrRef" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FIN: TRN</xs:documentation>
					<xs:documentation>ASI: instruction identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntrBkValDt" type="ISODate" minOccurs="0">
				<xs:annotation>
					<xs:documentation>execution date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RltdRef" type="Max16Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FIN: F21, related reference</xs:documentation>
					<xs:documentation>ASI: end to end identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTxPty" type="PaymentTransactionParty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SWIFT fields</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentIdentification">
		<xs:sequence>
			<xs:element name="PrtryRef" type="Max16NumericText">
				<xs:annotation>
					<xs:documentation>SSP booking id</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentOriginChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="FINMT" type="FINMessageType">
					<xs:annotation>
						<xs:documentation>SWIFT message type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Prtry" type="ProprietaryPaymentOriginType">
					<xs:annotation>
						<xs:documentation>proprietary type of the payment origin</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentStatusCodeChoice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="PdgSts" type="PendingStatusCode">
					<xs:annotation>
						<xs:documentation>pending status</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FnlSts" type="FinalStatusCode">
					<xs:annotation>
						<xs:documentation>final status</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentStatusDetails">
		<xs:sequence>
			<xs:element name="PmtInstrSts" type="PaymentStatusCodeChoice" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment status</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInstrStsDtTm" type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>settlement time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInstrStsRsn" type="PaymentStatusReasonCodes" minOccurs="0">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentStatusReasonCodes">
		<xs:sequence>
			<xs:element name="PrtryRjctnRsn" type="ProprieataryRejectionReason">
				<xs:annotation>
					<xs:documentation>rejection reason</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTransactionParty">
		<xs:sequence>
			<xs:element name="FrstAgt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F52, ordering institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InstdAgtCrspdt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F54, receivers correspondent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Intrmy" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F56, intermediary institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FnlAgt" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F57, account with institution</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cdtr" type="BICIdentifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>F58, beneficiary institution</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentType">
		<xs:sequence>
			<xs:element name="PrtryPmtTp" type="ProprietaryPaymentType">
				<xs:annotation>
					<xs:documentation>proprietary payment type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriorityCodeChoice">
		<xs:sequence>
			<xs:element name="Cd" type="PriorityCode">
				<xs:annotation>
					<xs:documentation>code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProprieataryRejectionReason">
		<xs:sequence>
			<xs:element name="PrtryStsRsn" type="Max4AlphaNumericText">
				<xs:annotation>
					<xs:documentation>error code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rsn" type="Max256Text">
				<xs:annotation>
					<xs:documentation>error text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnTransaction">
		<xs:sequence>
			<xs:element name="MsgId" type="MessageIdentification">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of the message</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizQryRef" type="QueryReference">
				<xs:annotation>
					<xs:documentation>reference to query</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="BizRpt" type="Transactions">
					<xs:annotation>
						<xs:documentation>business report</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="OprlErr" type="ErrorHandling">
					<xs:annotation>
						<xs:documentation>technical error report</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SystemDetails">
		<xs:sequence>
			<xs:element name="MmbId" type="MemberIdentification" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BIC</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transaction">
		<xs:sequence>
			<xs:element name="PmtTo" type="SystemDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>receiver</xs:documentation>
					<xs:documentation>or BIC of the AS in case of ASXML payments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtFr" type="SystemDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>sender</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>credit/debit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Pmt" type="PaymentDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>payment details</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctNtry" type="AccountCashEntryDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>account entry</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionReportDetails">
		<xs:sequence>
			<xs:element name="InstrRef" type="PaymentIdentification">
				<xs:annotation>
					<xs:documentation>unique and unambiguous identification of a payment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tx" type="Transaction">
				<xs:annotation>
					<xs:documentation>transaction</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transactions">
		<xs:sequence>
			<xs:element name="TxRpt" type="TransactionReportDetails" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>transaction report</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryReference">
		<xs:sequence>
			<xs:element name="QryRef" type="Max35Text">
				<xs:annotation>
					<xs:documentation>query reference - message identification of the related request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QryNm" type="Max35Text" minOccurs="0">
				<xs:annotation>
					<xs:documentation>query name - reference for subsequent queries</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleIdentificationInformation">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT">
				<xs:annotation>
					<xs:documentation>credits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBIT">
				<xs:annotation>
					<xs:documentation>debits</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FinalStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAND">
				<xs:annotation>
					<xs:documentation>revoked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RJTD">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation>settled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FINMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="103"/>
			<xs:enumeration value="202"/>
			<xs:enumeration value="204"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="ImpliedCurrencyAndAmount">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max10000Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max140Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max256Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max4AlphaNumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentInstructionStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACPD">
				<xs:annotation>
					<xs:documentation>warehoused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAND">
				<xs:annotation>
					<xs:documentation>revoked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RJTD">
				<xs:annotation>
					<xs:documentation>rejected</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSTL">
				<xs:annotation>
					<xs:documentation>pending</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLD">
				<xs:annotation>
					<xs:documentation>settled</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLE">
				<xs:annotation>
					<xs:documentation>earmarked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLM">
				<xs:annotation>
					<xs:documentation>information period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PendingStatusCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACPD">
				<xs:annotation>
					<xs:documentation>warehoused</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PSTL">
				<xs:annotation>
					<xs:documentation>pending</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLE">
				<xs:annotation>
					<xs:documentation>earmarked</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STLM">
				<xs:annotation>
					<xs:documentation>information period</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PriorityCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH">
				<xs:annotation>
					<xs:documentation>SSP highly urgent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LOWW">
				<xs:annotation>
					<xs:documentation>SSP normal</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NORM">
				<xs:annotation>
					<xs:documentation>SSP urgent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProprietaryPaymentOriginType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASXML">
				<xs:annotation>
					<xs:documentation>Bookings stemming from incoming AS XML payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTERN">
				<xs:annotation>
					<xs:documentation>Bookings stemming from internal messages</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORDER">
				<xs:annotation>
					<xs:documentation>Bookings stemming from current orders sent via ICM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProprietaryPaymentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ASYP">
				<xs:annotation>
					<xs:documentation>ancillary system payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BACP">
				<xs:annotation>
					<xs:documentation>backup payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BIDB">
				<xs:annotation>
					<xs:documentation>billing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CONP">
				<xs:annotation>
					<xs:documentation>connected payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INTP">
				<xs:annotation>
					<xs:documentation>interests</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIQP">
				<xs:annotation>
					<xs:documentation>liquidity transfers</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MANP">
				<xs:annotation>
					<xs:documentation>mandated payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PDDB">
				<xs:annotation>
					<xs:documentation>penalties</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REGP">
				<xs:annotation>
					<xs:documentation>regular payments</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
